@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap');

body{
    font-family: 'Open Sans','Courier New', Courier, monospace;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	background: #FFFFFF;
	color: #1e1e27;
}


/* .logo_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 15px;
} */
.logo_container a
{
	font-size: 24px;
	color: #1e1e27;
	font-weight: 700;
	text-transform: uppercase;
}
.logo_container a:hover
{
	font-size: 24px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
}
.logo_container a span
{
	color: #fe4c50;
}

.bg-secondaryy{
    opacity: 1;
    background-color: rgb(195, 197, 199) !important;
}

hr{
    height: 1px; /* Đặt chiều cao của đường ngang */
    background-color: rgb(82, 80, 80); /* Đặt màu nền của đường ngang */
    border: none; /* Loại bỏ viền */
}