<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Hiển thị Sản phẩm</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body onload="callFindAllUser()">


	<button onclick="callFindAllUser()"> bam vao</button>
	<h1>abx</h1>
	<div id="list">
	</div>
    <script>
		function callFindAllUser(){
			$.ajax({
				url: '/allproductapi',
				type: 'GET',
				success: function(data){
					const list = $('#list');
					data.forEach( item => {
						list.append( '<li>' + item.productId + '</li>');
					});
				},
				error: function(xhr, status, error){
					console.log(error);
				}
			})
		};
	</script>
	
	
	
	<script>
		$(document).ready(function() {
		    // Gọi API để lấy danh sách sản phẩm
		    $.ajax({
		        url: '/allproductapi',
		        type: 'GET',
		        success: function(data) {
		            // Xử lý dữ liệu trả về từ API
		            if (data.length > 0) {
		                var productList = $('#productList');
		                $.each(data, function(index, product) {
		                    productList.append('<li>' + product.productName + '</li>');
		                });
		            } else {
		                productList.append('<li>Không có sản phẩm nào.</li>');
		            }
		        },
		        error: function(xhr, status, error) {
		            console.log('Lỗi: ', error);
		        }
		    });
		});
	</script>
	
</body>
</html>