<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>

</head>
<body>
<div th:fragment="header" class="sticky-lg-top">
    <!-- mobileNav -->
    <div class="d-block d-lg-none">
        <div id="mobileNav" style="background-color: rgb(18,17,13); color: rgb(231,227,223);">
            <nav class="navbar  navbar-expand-lg navbar-dark" aria-label="Mobile Navigation">
                <div class="container-sm">
                    <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas"
                            data-bs-target="#slide_menu" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <a href="/trangchu" class="navbar-brand" title="Swappa">
                        <img class="img-fluid"
                             src="../assests/images/mini-logo-white.png"
                             alt="Swappa Logo">
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas"
                            data-bs-target="#slide_search" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Search">
                        <i class="fa-solid fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </nav>
        </div>

    </div>
    <!-- desktop navigate -->
    <div class="d-none d-lg-block">
        <!-- first-nav -->
        <div class="stNav" style="background-color: rgb(18,17,13); color: rgb(231,227,223);">
            <nav class="navbar navbar-expand-lg  navbar-dark pb-0">
                <div class="container d-block">
                    <div class="d-flex gap-3">
                        <ul class="navbar-nav" role="presentation">
                            <li class="nav-item">
                                <a class="navbar-brand d-block text-center pt-2" href="/">
                                    <img class="img-fluid"
                                         th:src="@{../assests/images/mini-logo-white.png}"
                                         style="height:50px; margin: auto;" alt="Bootstrap">
                                </a>
                            </li>
                        </ul>
                        <div class="flex-grow-1" style="position: relative">
                            <form class="d-flex align-items-center position-relative h-100" onsubmit="return false;">
                                <input type="text" class="form-control rounded-0 fosus_input" id="navbar_search_input" name="keyword"
                                       placeholder="Find a good deal">
                                <select class="form-select rounded-0" id="select_loai" name="type" style="width: 100px">
                                    <option value="All Product">All</option>
                                    <option value="Outerwear">Outerwear</option>
                                    <option value="Tops">Tops</option>
                                    <option value="Bottoms">Bottoms</option>
                                    <option value="Jewels & Accessories">Jewels & Accessories</option>
                                    <option value="Headwear">Headwear</option>
                                    <option value="Footwear">Footwear</option>
                                </select>
                            </form>
                            <div style="position: absolute; display: none" class="w-100 fosus_input_timkiem" id="input-container">
                                <div style="background: rgb(18 17 13 / 97%)" class="p-1">
                                    <div class="d-flex w-100">
                                        <div>
                                            <span class="ms-2">
                                                <i class="fa-solid fa-house-user"></i>
                                            </span>
                                        </div>
                                        <div id="tenShop">
<!--                                            <a href="#" class="ms-2 text-white text-start link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover w-100" >-->
<!--                                                tên của shop-->
<!--                                            </a>-->
                                        </div>
                                    </div>
                                    <div>
                                        <hr style="margin: 5px" class="mt-2">
                                    </div>
                                </div>
                                <div style="background: rgb(18 17 13 / 97%)" class="p-0 d-flex flex-column rounded-3 rounded-top-0" id="tenSp">
<!--                                    <a href="#" class="ms-2 p-1 pb-2 text-white text-start link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">-->
<!--                                        tên sản phẩm sẽ nằm ở đây 1-->
<!--                                    </a>-->
<!--                                    <a href="#" class="ms-2 p-1 pb-2 text-white text-start link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">-->
<!--                                        tên sản phẩm sẽ nằm ở đây 2-->
<!--                                    </a>-->
<!--                                    <a href="#" class="ms-2 p-1 pb-2 text-white text-start link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">-->
<!--                                        tên sản phẩm sẽ nằm ở đây 3-->
<!--                                    </a>-->

<!--                                    <a href="#" class="ms-2 p-1 pb-2 text-white text-start link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">-->
<!--                                        tên sản phẩm sẽ nằm ở đây 4-->
<!--                                    </a>-->
<!--                                    <a href="#" class="ms-2 p-1 pb-2 text-white text-start link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">-->
<!--                                        tên sản phẩm sẽ nằm ở đây 5-->
<!--                                    </a>-->
                                </div>
                            </div>
                        </div>
                        <p id="email" th:text="${activeLogin}" style="display: none"></p>
                        <p id="iduser" th:text="${iduser}" style="display: none"></p>
                        <ul class="navbar-nav" role="presentation">
                            <li class="d-flex align-items-center justify-content-center">
                                <a href="/vouchers">
                                    <i class="fa-solid fa-ticket fs-4 text-white"></i>
                                </a>
                            </li>
                            <li class="ms-3 d-flex align-items-center justify-content-center">
                                <div class="">
                                    <a href="/userprofile">
                                        <i class="fs-4 fa-solid fa-circle-user text-white" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="ms-3 d-flex align-items-center justify-content-center">
                                <a href="/giohang" class="border border-0 position-relative"
                                   style="background-color: rgb(18,17,13) !important;"  id="cart">
                                    <i class="fa-solid fa-fw fa-shopping-cart" style="color: white;"
                                       aria-hidden="true"></i>
                                    <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                            id="tongSoLuongSP">
                                            </span>
                                </a>
                            </li>
                            <li class="ms-3 d-flex align-items-center justify-content-center dropdown">
                                <div class="border border-0 position-relative" data-toggle="dropdown"
                                   style="background-color: rgb(18,17,13) !important;">
                                    <i class="fa-regular fa-bell" style="color: white"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="soluongthongbao">
                                              0
                                      </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex justify-content-around pb-1" id="userListCategory">
                        <!-- api -->
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<footer style="background-color: rgb(18,17,13); color: rgb(231,227,223);" th:fragment="footer">
    <div class="container pt-4 pb-2">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6">
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col d-flex justify-content-center align-items-center">
                <div class=" text-white">
                    <a href="https://www.facebook.com/profile.php?id=100031628760243" style="color: white">
                        <i class="fa-brands fa-square-facebook fs-1"></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100031628760243" style="color: white">
                        <i class="fa-brands fa-square-instagram fs-1"></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100031628760243" style="color: white">
                        <i class="fa-brands fa-youtube fs-1"></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100031628760243" style="color: white">
                        <i class="fa-brands fa-linkedin fs-1"></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100031628760243" style="color: white">
                        <i class="fa-brands fa-square-reddit fs-1"></i>
                    </a>
                </div>
            </div>
            <div class="col text-center ">
                <a href="./index.html"><img
                        th:src="@{../assests/images/mini-logo-white.png}"
                        style="height: 50px; margin: auto"
                        class="img-fluid" alt=""></a>
            </div>
            <div class="col text-center text-white d-flex justify-content-center align-items-center">
                <p class="fs-5">Copyright © 2023-2024 -M2M-</p>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
<script>
    $(document).ready(async function(){
        var tongsp = document.getElementById("tongSoLuongSP");
        var tongSoLuong = 0;
        if (localStorage.getItem(sessionStorage.getItem("tendn"))) {
            var objarray = JSON.parse(localStorage.getItem(sessionStorage.getItem("tendn")));
            for (var int = 0; int < objarray.length; int++) {
                tongSoLuong = objarray.length;
            }
        }else {
            tongsp.textContent = tongSoLuong;
        }
        tongsp.textContent = tongSoLuong;

        $('#xoathongbaooo').click(function () {
            var id = $('#iduser').text();
            xoathongbao(id);
        });

        var soluong = 0;

        var id = $('#iduser').text();
        $.ajax({
            url: '/finduseridwitchNotification?id='+id,
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                soluong = data.length;
                $('#soluongthongbao').text(soluong)
                // Hiển thị dữ liệu trong bảng
                data.forEach(function (order) {
                    $('#thongbao').append(`
                        <div class="dropdown-item">
                           <div>Có mã giảm giá mới!</div>
                        </div>
                `);
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Error:', errorThrown);
            }
        });

        function xoathongbao(id){
            $.ajax({
                url: '/deleteNotification?id='+id,
                type: 'GET',
                contentType: 'application/json',
                success: function (data) {
                    console.log("xóa thành công")
                    window.location.href = "/trangchu";
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error:', errorThrown);
                }
            });
        }
    })
</script>