<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assests/css/style.css}">
    <link rel="stylesheet" th:href="@{/assests/css/login.css}">
    <link rel="shortcut icon" th:href="@{/assests/srcPic/x.png}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>

<div th:replace="~{swappa/assests/html/layout/_layout::header}"></div>

<!-- main -->
<main class="">
    <!-- body -->
    <main class="container pt-5 pb-5">
        <!-- Section: Design Block -->
        <section class="text-center d-flex justify-content-center">
            <div class="card shadow-5-strong w-50" style="
                  background: hsla(0,0%,100%,0.1);
                  backdrop-filter: blur(50px);">
                <div class="card-body">
                    <div class="justify-content-center">
                        <div>
                            <h2 class="fw-bold mb-5 text-white">LOGIN</h2>
                            <form class="text-white" method="POST" action="/p/login?role=user">
                                <div class="mb-3 row">
                                    <label for="inputMail" class="col-sm-3 col-form-label text-end">Email</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputMail" name="username"
                                               value="admin@gmail.com">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inputPassword"
                                           class="col-sm-3 col-form-label text-end">Password</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="inputPassword" value="123"
                                               name="password">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" id="btnlogin"
                                            class="btn btn-success btn-block px-5 mb-4 rounded-5 ms-3">Login
                                    </button>
                                </div>
                                <a href="/p/register"
                                   class="btn btn-success btn-block px-5 mb-4 rounded-5 ms-3">
                                    Register
                                </a>
                                <!-- Register buttons -->
                                <div class="text-center">
                                    <!-- Register buttons -->
                                    <div class="text-center text-white">
                                        <!--M2M- 010 TanLoc Begin-->
                                        <a th:href="@{/oauth2/authorization/google}" class="text-white-50">or
                                            sign in with: <i class="fab fa-google"></i></a>
                                        <!--M2M- 010 TanLoc End-->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Section: Design Block -->
</main>
<!-- footer -->
<div class="fixed-bottom" th:insert="~{swappa/assests/html/layout/_layout::footer}"></div>
</body>
<script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/c22bed0de0.js" crossorigin="anonymous"></script>
<script src="/assests/js/app.js"></script>
<script src="/assests/js/script.js"></script>
<script src="/assests/js/jsAll.js"></script>
<script th:src="@{/assests/js/SearchProduct.js}"></script>
<script>
    $('#btnlogin').click(function () {
        sessionStorage.setItem("tendn", $('#inputMail').val());
    })
</script>
</html>