<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác nhận quên mật khẩu</title>
    <link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assests/css/style.css">
    <link rel="shortcut icon" href="/assests/srcPic/x.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body ng-app="myApp" ng-Controller="accountForgotXacNhanCtrl">

    <div>
        <!-- mobileNav -->
    <div class="d-block d-lg-none">
        <div id="mobileNav"  style="background-color: rgb(18,17,13); color: rgb(231,227,223);" >
            <nav class="navbar  navbar-expand-lg navbar-dark" aria-label="Mobile Navigation">
                <div class="container-sm">

                    <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#slide_menu"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-bars"></i>
                    </button>

                    <a href="trangchu.html" class="navbar-brand" title="Swappa">
                        <img class="img-fluid"
                            src="https://static.swappa.com/static/images/logos/swappa_wordmark_ffffff_drop_e4611b.svg"
                            alt="Swappa Logo">
                    </a>

                    <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#slide_search"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Search">
                        <i class="fa-solid fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </nav>
        </div>

    </div>
    <!-- mainNav -->
    <div class="d-none d-lg-block">
        <!-- first-nav -->
        <div class="stNav" style="background-color: rgb(18,17,13); color: rgb(231,227,223);" >
            <nav class="navbar navbar-expand-lg  navbar-dark pb-0">
                <div class="container d-block">
                    <div class="d-flex gap-3">
                        <ul class="navbar-nav" role="presentation">
                            <li class="nav-item">
                                <a class="navbar-brand d-block text-center pt-2" href="trangchu.html">
                                    <img class="img-fluid"
                                        src="https://static.swappa.com/static/images/logos/swappa_wordmark_ffffff_drop_e4611b.svg"
                                        width="167px" height="35px" alt="Bootstrap">
                                </a>
                            </li>
                        </ul>
                        <div class="flex-grow-1">
                            <form action="" class="d-flex align-items-center position-relative h-100">
                                <!-- {{keyword}} -->
                                <!-- <a ng-href="#!/searchResult" class="d-flex align-items-center position-relative h-100"> -->
                                <input type="search" class="form-control rounded-0" id="navbar_search_input" name="q"
                                    ng-model="keyword" placeholder="Find a good deal" autocomplete="off">
                                <!-- </a> -->
                                <select class="form-select rounded-0 " id="select_loai" ng-model="selectedType" style="width: 45px">
                                    <option value="">Chọn loại</option>
                                    <option value="loai1">Outerwear</option>
                                    <option value="loai2">Tops</option>
                                    <option value="loai3">Bottoms</option>
                                </select>
                            </form>
                        </div>
                        <ul class="navbar-nav" role="presentation">
                            <li class="d-flex align-items-center justify-content-center">
                                <div class="">
                                    <a href="/userprofile">
                                        <i class="fs-4 fa-solid fa-circle-user text-white" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="ms-3 d-flex align-items-center justify-content-center">
                                <a href="card.html" class="border border-0 position-relative" style="background-color: rgb(18,17,13) !important;">
                                    <i class="fa-solid fa-fw fa-shopping-cart" style="color: white;" aria-hidden="true"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="tongSoLuongSP">
                                    0
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex justify-content-around pb-1">
                        <div>
                            <a href="productAll.html" class="rounded-1 btn text-white hoverbutton" style="width: 120px;">Outerwear</a>
                        </div>

                        <div>
                            <a href="productAll.html" class="rounded-1 btn text-white hoverbutton" style="width: 120px;">Tops</a>
                        </div>
                        <div>
                            <a href="productAll.html" class="rounded-1 btn text-white hoverbutton" style="width: 120px;">Bottoms</a>
                        </div>
                        <div>
                            <a href="productAll.html" class="rounded-1 btn text-white hoverbutton" style="width: 200px;">Jewels & Accessories</a>
                        </div>
                        <div>
                            <a href="productAll.html" class="rounded-1 btn text-white hoverbutton" style="width: 120px;">Headwear</a>
                        </div>
                        <div>
                            <a href="productAll.html" class="rounded-1 btn text-white hoverbutton" style="width: 120px;">Footwear</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- second-nav -->
    </div>
</div>

    <div >
        <div style="background-image: url('/assests/images/1323882.png'); background-size: cover; background-position: center; width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;">
            <!-- body -->
            <main class="container">
                <!-- Section: Design Block -->
                <div class="row">
        
                    <section class="text-center d-flex justify-content-center align-items-center">
        
                        <div class="card shadow-5-strong w-50 " style="
                  background: hsla(0, 0%, 0%, 0.5);
                  backdrop-filter: blur(15px);
                  ">
                            <div class="card-body py-5 px-md-5 pb-2">
        
                                <div class="justify-content-center">
                                    <div class="">
                                        <h2 class="fw-bold mb-5 text-white text-uppercase">Confirm password</h2>
                                        <form name="formForgot" ng-submit="login()" class="text-white" th:action="@{/submit-forgot-password-change}" method="post">
                                            <!-- lỗi thì thông báo ở đây nè -->
                                            <div ng-hide="status == null" class="alert text-bg-dark"
                                                ng-class="{'text-danger invalid-input':(status !== 1), 'text-success valid-input': (status === 1)}">
                                                {{textStatus}}</div> 
                                            <div class="form-outline mb-4">
                                                <input autofocus type="password" id="newPassword" name="newPassword"
                                                    class="text-bg-dark form-control" placeholder="A new password"
                                                    ng-blur="checkUsernameValidity()" required
                                                    
                                                    ng-class="{'invalid-input border-0': isInvalidUserName()}" ng-model="newPassword" />
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input autofocus type="password" id="confirmPassword" name="confirmPassword"
                                                    class="text-bg-dark form-control" placeholder="Confirm new password"
                                                    ng-blur="checkUsernameValidity()" required
                                                    ng-class="{'invalid-input border-0': isInvalidUserName()}" ng-model="confirmPassword" />
                                            </div>
                                            
                                            <!-- Submit button -->
                                            <button type="submit" class="btn btn-outline-success btn-block px-5 mb-4 rounded-5 " ng-click="showAlert()" ng-disabled="formForgot.$invalid">
                                                Confirm
                                            </button>
        
                                            <!-- Sumit register -->
                                            <!-- <a href="#!/account/register" class="btn btn-outline-success btn-block px-5 mb-4 rounded-5 ms-3">
                                                Register
                                            </a> -->
        
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr class="d-lg-none mb-4 d-sm-block">
                </div>
                <!-- Section: Design Block -->
            </main>
        
        </div>
    </div>
    

    <!-- footer -->
    <footer style="background-color: rgb(18,17,13); color: rgb(231,227,223);">
        <div class="container pt-2 pb-2">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6">
                
            </div>
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col d-flex justify-content-center align-items-center">
                    <div class=" text-white">
                        <i class="fa-brands fa-square-facebook fs-1"></i>
                        <i class="fa-brands fa-square-instagram fs-1"></i>
                        <i class="fa-brands fa-youtube fs-1"></i>
                        <i class="fa-brands fa-linkedin fs-1"></i>
                        <i class="fa-brands fa-square-reddit fs-1"></i>
                    </div>
                </div>
                <div class="col text-center ">
                    <a href="./index.html"><img
                            src="https://static.swappa.com/static/images/logos/swappa_wordmark_ffffff.svg" class="img-fluid"
                            alt=""></a>
                </div>
                <div class="col text-center text-white d-flex justify-content-center align-items-center">
                    <p class="fs-5">Copyright © 2023-2024 -M2M-</p>
                </div>
            </div>
        </div>
    </footer>
</body>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/c22bed0de0.js" crossorigin="anonymous"></script>
    <script src="/node_modules/angular/angular.route.min.js"></script>
    <script src="/assests/js/app_admin.js"></script>
    <script src="/assests/js/script.js"></script>
    <script src="/assests/js/jsAll.js"></script>
</html>