<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assests/css/style.css}">
    <link rel="shortcut icon" th:href="@{/assests/srcPic/x.png}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="accountCtrl">

    <div th:replace="~{swappa/assests/html/layout/_layout::header}"></div>

    <!-- main -->
    <div style="min-height: 800px;">

        <!-- body -->
        <main class="container pt-5 pb-5">
            <!-- Section: Design Block -->
            <div class="row">

                <section class="text-center d-flex justify-content-center">

                    <div class="card shadow-5-strong w-50" style="
                background: hsla(0, 0%, 0%, 0.5);
                backdrop-filter: blur(50px);
                ">
                        <div class="card-body py-5">

                            <div class="d-flex justify-content-center">
                                <div class="">
                                    <h2 class="fw-bold mb-5 text-white">Confirm OTP Register</h2>
                                    <div class="mb-5">
                                        <span class="text-white fw-bolder">Please enter all information below</span>
                                    </div>
                                    <form name="formSignUp" class="text-white" ng-submit="submitForm()"
                                        th:action="@{/otp}" method="post">
                                        <div class="row">
                                            <div class="col-md-2 mb-4">
                                                <div class="form-outline">
                                                    <input type="text" name="otp1" maxlength="1" required
                                                        class="form-control text-bg-dark text-center" />
                                                </div>

                                            </div>

                                            <div class="col-md-2 mb-4">
                                                <div class="form-outline">
                                                    <input type="text" name="otp2" maxlength="1" required
                                                        class="form-control text-bg-dark text-center" />
                                                </div>

                                            </div>

                                            <div class="col-md-2 mb-4">
                                                <div class="form-outline">
                                                    <input type="text" name="otp3" maxlength="1" required
                                                        class="form-control text-bg-dark text-center" />
                                                </div>

                                            </div>

                                            <div class="col-md-2 mb-4">
                                                <div class="form-outline">
                                                    <input type="text" name="otp4" maxlength="1" required
                                                        class="form-control text-bg-dark text-center" />
                                                </div>

                                            </div>

                                            <div class="col-md-2 mb-4">
                                                <div class="form-outline">
                                                    <input type="text" name="otp5" maxlength="1" required
                                                        class="form-control text-bg-dark text-center" />
                                                </div>

                                            </div>

                                            <div class="col-md-2 mb-4">
                                                <div class="form-outline">
                                                    <input type="text" name="otp6" maxlength="1" required
                                                        class="form-control text-bg-dark text-center" />
                                                </div>
                                            </div>
                                        </div>


                                        <div>
                                            <!-- Submit button -->
                                            <div class="d-flex flex-column align-items-center">
                                                <button type="submit"
                                                    class="btn btn-success fw-bold btn-block px-5 rounded-5 w-75"
                                                    ng-disabled="formSignUp.$invalid">
                                                    Xác nhận
                                                </button>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- Section: Design Block -->
        </main>

    </div>
    <!-- footer -->
    <footer th:replace="~{swappa/assests/html/layout/_layout::footer}"></footer>
</body>
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/c22bed0de0.js" crossorigin="anonymous"></script>
<script src="/node_modules/angular/angular.route.min.js"></script>
<script src="/assests/js/app.js"></script>
<script src="/assests/js/script.js"></script>
<script src="/assests/js/jsAll.js"></script>

</html>