<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assests/css/style.css">
    <link rel="shortcut icon" href="/assests/srcPic/x.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="accountCtrl">
<div th:replace="~{swappa/assests/html/layout/_layout::header}"></div>
<!-- main -->
<div class="main-container">
    <!-- body -->
    <main class="container pt-5 pb-5">
        <!-- Section: Design Block -->
        <div class="row">
            <section class="text-center d-flex justify-content-center">
                <div class="card shadow-5-strong w-50" style="
                background: hsla(0,0%,0%,0.5);
                backdrop-filter: blur(50px);
                ">
                    <div class="card-body py-5">

                        <div class="d-flex justify-content-center">
                            <div class="">
                                <h2 class="fw-bold mb-5 text-white">SIGN UP</h2>
                                <form name="formSignUp" class="text-white" ng-submit="signUp()"
                                      th:object="${account}" th:action="@{/submitRegister}" method="post">
                                    <div ng-hide="status2 == null" class="alert rounded-2 text-bg-success"
                                         ng-class="{'text-white fw-bold invalid-input':(status2 === true), 'text-white fw-bold valid-input': (status2 === true)}">
                                        {{textStatus2}}
                                    </div>
                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <input th-field="${username}" required ng-model="firstName"
                                                       ng-blur="firstNameBlurred = true" type="text" id="firstName"
                                                       name="firstName" class="form-control text-bg-dark"
                                                       placeholder="User Name"
                                                       ng-class="{'invalid-input border-0': isInvalidFirstName()}"/>
                                            </div>
                                            <div class="mt-1 text-danger fs-14 text-start"
                                                 ng-show="isInvalidFirstName()">
                                                <i class="fa-solid fa-circle-info"></i> Invalid first name. Make
                                                sure it's written correctly.
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <input th-field="${email}" type="email" id="email2" name="email2"
                                               class="form-control text-bg-dark" placeholder="Email address" required
                                               ng-model="email2" ng-blur="email2Blurred = true"
                                               ng-class="{'invalid-input border-0' : isInvalidEmail2()}"/>
                                        <div class="mt-1 text-danger fs-14 text-start" ng-show="isInvalidEmail2()">
                                            <i class="fa-solid fa-circle-info"></i> Invalid email. Make
                                            sure it's written correctly.
                                        </div>
                                    </div>
                                    <div></div>

                                    <div class="row row-cols-md-2">
                                        <div class="col">
                                            <div class="form-outline mb-4">
                                                <input th-field="${hashedPassword}" type="password" id="password21"
                                                       name="password21" class="form-control text-bg-dark"
                                                       placeholder="Password" ng-model="password21"
                                                       ng-blur="password21Blurred = true"
                                                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,30}$" required
                                                       ng-class="{'invalid-input border-0':isInvalidPassword21()}"/>
                                                <div class="mt-1 text-danger fs-14 text-start"
                                                     ng-show="isInvalidPassword21()">
                                                    <i class="fa-solid fa-circle-info"></i> Invalid password. Make
                                                    sure it's containing at least 6 characters (max:30) a uppercase
                                                    letter, lowercase letter and number.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-outline mb-4">
                                                <input type="password" id="password22" name="password22"
                                                       class="form-control text-bg-dark" placeholder="Confirm Password"
                                                       ng-model="password22" ng-blur="password22Blurred = true"
                                                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,30}$" required
                                                       ng-class="{'invalid-input border-0':isInvalidPassword22()}"/>
                                                <div class="mt-1 text-danger fs-14 text-start"
                                                     ng-show="isInvalidPassword22()">
                                                    <i class="fa-solid fa-circle-info"></i> The confirm password
                                                    isn't
                                                    matched. Make
                                                    sure it's written correctly.
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="alert alert-danger" style="display: none;" id="errorMess"
                                         role="alert">
                                    </div>


                            </div>
                        </div>

                        <!-- <div class="form-check  mb-4">
                                        <div class="d-flex justify-content-center">
                                            <input class="form-check-input me-2 text-bg-success" type="radio" value=""
                                                id="form2Example33" name="gioitinh" />
                                            <label class="form-check-label" for="form2Example33">
                                                Nam
                                            </label>

                                            <input class="form-check-input ms-4 me-2 text-bg-success" type="radio" value=""
                                                id="form2Example33" name="gioitinh" />
                                            <label class="form-check-label" for="form2Example33">
                                                Nu
                                            </label>
                                        </div>
                                        <div class="d-flex">

                                        </div>
                                    </div> -->

                        <!-- Submit button -->
                        <div class="d-flex flex-column align-items-center">
                            <button type="button" id="signupBtn"
                                    class="btn btn-success fw-bold btn-block px-5 rounded-5 w-75"
                                    onclick="callByUsernameAndEmail()">
                                Sign up
                            </button>
                            <a href="/login" class="btn btn-success btn-block rounded-5 w-50 mt-3">Return
                                Login</a>
                        </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>
<footer th:replace="~{swappa/assests/html/layout/_layout::footer}"></footer>
</body>
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/c22bed0de0.js" crossorigin="anonymous"></script>
<script src="/node_modules/angular/angular.route.min.js"></script>
<script src="/assests/js/app.js"></script>
<script src="/assests/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    function callByUsernameAndEmail() {
        var username = $('#firstName').val();
        var email = $('#email2').val();
        $.ajax({
            url: '/getAccountByUsernameAndEmail?username=' + username + '&email=' + email,
            type: 'GET',
            success: function (data) {
                var mess = $('#errorMess');
                if (data) {
                    mess.text('Account already exists');
                    mess.show();
                } else {
                    $('#signupBtn').attr('type', 'submit'); // Thay đổi loại của button thành "submit"
                }
            },
            error: function (xhr, status, error) {
            }


        })
    }

</script>

</html>