<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh Toán</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assests/css/style.css}">
    <link rel="shortcut icon" th:href="@{/assests/srcPic/x.png}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            var ptthanhtoan = "";

            Finalpayment(ptthanhtoan);

            $('#submitBtn').click(function () {
                if (!$('input[type="radio"][name="flexRadioDefault"]').is(':checked')) {
                    Swal.fire({
                        title: 'Notifications from the system',
                        text: 'Please select payment method!',
                        icon: 'error', // Có thể thay đổi icon thành 'error', 'warning', 'info', hoặc 'question'
                        confirmButtonText: 'Confirm',
                        allowOutsideClick: false,
                    })
                    return false;
                }
                thanhtoan();
            });

            $('input[type="radio"][name="flexRadioDefault"]').change(function () {
                ptthanhtoan = $(this).val();
                // Gọi lại hàm Finalpayment() để cập nhật lại giá trị của biến thanhtoan
                Finalpayment(ptthanhtoan);
            });

            var id;
            if (sessionStorage.getItem("idnguoidung") == ""){

            }else {
                $.ajax({
                    url: '/finduseridwitchNotification?id='+sessionStorage.getItem("idnguoidung"),
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (data) {
                        soluong = data.length;
                        $('#soluongthongbao').text(soluong)
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error:', errorThrown);
                    }
                });
            }

            $('#btnthongobao').click(function () {
                id = (sessionStorage.getItem("idnguoidung") == "" ? "false" : sessionStorage.getItem("idnguoidung"));
                if (id == "false"){
                    Swal.fire({
                        title: 'Notifications from the system',
                        text: 'You are not logged in, please log in.',
                        icon: 'warning', // Có thể thay đổi icon thành 'error', 'warning', 'info', hoặc 'question'
                        confirmButtonText: 'Confirm',
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result){
                            window.location.href = "/loginacount";
                        }
                    })
                }else {
                    $("#notification-dropdown").toggleClass("d-none");
                    $('#thogbao').empty();
                    $.ajax({
                        url: '/finduseridwitchNotification?id='+sessionStorage.getItem("idnguoidung"),
                        type: 'GET',
                        contentType: 'application/json',
                        success: function (data) {
                            var soluong = data.length;
                            if (soluong == 0){
                                $('#thogbao').append(`
                        <div class="text-dark fw-bolder" style="color: #edd678">No new announcements.</div>`);
                            }
                            $('#soluongthongbao').text(soluong)
                            // Hiển thị dữ liệu trong bảng
                            data.forEach(function (order) {
                                $('#thogbao').append(`
                    <div class="text-dark fw-bolder" style="text-decoration: underline; cursor : pointer">You have a new voucher in your account.</div>
                    `);
                            });
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Error:', errorThrown);
                        }
                    });
                }
            });

            $('#xoathongbao').click(function () {
                $.ajax({
                    url: '/deleteNotification?id='+id,
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (data) {
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error:', errorThrown);
                    }
                });
            })
        });

        function Finalpayment(ptthanhtoan) {
            var productList = document.getElementById("thanhtoan");
            productList.innerHTML = '';
            if (localStorage.getItem(sessionStorage.getItem("tendn"))) {

                var objarray = JSON.parse(localStorage.getItem(sessionStorage.getItem("tendn")));

                // Duyệt qua tất cả các phần tử trong local storage
                var soluongton = 0;
                for (var int = 0; int < objarray.length; int++) {
                    var object = objarray[int];
                    // Tạo các thẻ HTML để hiển thị thông tin của đối tượng
                    var tr = document.createElement("tr");

                    tr.innerHTML = `<tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">

                                            <div style="overflow: hidden" height="auto" width="136px">
                                                <img src="${object.linkanh}"
                                                    class="avatar avatar-sm me-3 border-radius-lg" alt="user1"
                                                        id="thongtin" style="display: block; width: 150px; height: 150px; object-fit: contain;">
                                            </div>
                                            <div class="w-100 d-flex align-items-center">
                                                <p class="text-xs text-secondary mb-0" id="${object.tensp},${int}">
                                                    ${object.tensp}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-xs text-secondary mb-0" >
                                            $${object.gia.toFixed(2)}</p>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-xs text-secondary mb-0" id="${object.soLuong},${int}">
                                            ${object.soLuong}</p>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-xs text-secondary mb-0" id="${(object.soLuong * object.gia)},${int}">
                                            $${(object.soLuong * object.gia).toFixed(2)}</p>
                                    </td>

                                </tr>
                    `;
                    var tennguoidung = $('#name').text();
                    var sdt = $('#sdt').text();
                    var diachi = $('#diachi').val();
                    var id = $('#id').text();
                    document.getElementById("thanhtoan").appendChild(tr);
                    capNhatTienTong();
                    var tongThanhToanID = $('#TongThanhToan').text().substring(1);
                    var tongThanhToanNumber = parseFloat(tongThanhToanID);
                    var tongThanhToanFromat = tongThanhToanNumber.toFixed(2);
                    var tongThanhToan = parseFloat(tongThanhToanFromat) //tiền tổng thanh toán
                    soluongton += object.soLuong;
                    const extractedData = objarray.map(item => ({
                        price: item.gia,
                        productId: item.idproductt,
                        quantity: item.soLuong
                    }));
                    getInfoCard(object.tensp, soluongton, (object.soLuong * object.gia).toFixed(2), tennguoidung, sdt, diachi, id, ptthanhtoan, tongThanhToan, extractedData);
                    //kiem tra sdt co rong
                    if (sdt === "") {
                        Swal.fire({
                            title: 'Notifications from the system',
                            text: 'Opss!, Your account does not have a phone number, please update it.',
                            icon: 'error', // Có thể thay đổi icon thành 'error', 'warning', 'info', hoặc 'question'
                            confirmButtonText: 'Confirm',
                            allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "/userprofile";
                            }
                        })
                    }

                    if (diachi == ""){
                        Swal.fire({
                            title: 'Notifications from the system',
                            text: 'Opss!, Your account does not have an address, please update it.',
                            icon: 'error', // Có thể thay đổi icon thành 'error', 'warning', 'info', hoặc 'question'
                            confirmButtonText: 'Confirm',
                            allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "/userprofile";
                            }
                        })
                    }
                }
            }
        }

        function capNhatTienTong() {
            var tongTien = 0;
            var discount = sessionStorage.getItem("tienvoucher");
            if (localStorage.getItem(sessionStorage.getItem("tendn"))) {
                var objarray = JSON.parse(localStorage.getItem(sessionStorage.getItem("tendn")));
                // Duyệt qua tất cả các phần tử trong local storage
                for (var int = 0; int < objarray.length; int++) {

                    var object = objarray[int];

                    tongTien += object.soLuong * object.gia;
                }

                var cacPhanTu = document.querySelectorAll(".tienThanhToan");
                // Lặp qua từng phần tử và cập nhật giá trị mới
                cacPhanTu.forEach(function (element) {
                    element.textContent = "$" + tongTien.toFixed(2); // Cập nhật giá trị mới, ở đây là tổng tiền
                });
                var discountthtml = document.getElementById("discount");
                discountthtml.textContent = "$" + discount; // giam gia trong localStorage

                var tongthanhtoan = document.getElementById("TongThanhToan");

                var gg = parseFloat(discount);
                var ttt = parseFloat(parseFloat(tongTien).toFixed(2))
                tongthanhtoan.textContent = "$" + (ttt - gg).toFixed(2);

            }
        }


        var spxannhan;

        function getInfoCard(name, soluongton, tien, tennguoidung, sdt, diachi, id, ptthanhtoan, tongThanhToan, objarray) {
            var voucher = sessionStorage.getItem("voucherdetill");

            if (voucher === null) {
                voucher = null;
            } else {
                var voucherID = JSON.parse(sessionStorage.getItem("voucherdetill"));
                voucher = parseFloat(voucherID.voucherID);

            }

            var sp = {
                phoneNumber: sdt,
                deliveryAddress: diachi,
                paymentMethod: ptthanhtoan,
                totalAmount: parseFloat(tongThanhToan).toFixed(2),
                orderStatus: "Need approved",
                countSp: soluongton,
                voucherId: voucher,
                orderDetails: objarray
            };

            spxannhan = sp;
        }


        function thanhtoan() {

            Swal.fire({
                title: 'Notifications from the system',
                text: 'Thank you for paying your invoice!, Please wait for your order to be confirmed!',
                icon: 'success', // Có thể thay đổi icon thành 'error', 'warning', 'info', hoặc 'question'
                confirmButtonText: 'Confirm',
                allowOutsideClick: false,

            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/api-product/createOrder',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(spxannhan),
                        success: (redirectURL) => {
                            localStorage.removeItem(sessionStorage.getItem("tendn"))
                            setTimeout(function () {
                                window.location.href = "/userprofile";
                            }, 1000);
                        },
                        error: (xhr, status, error) => {
                            console.error("Đã xảy ra lỗi khi gọi API: " + error);
                        }
                    });
                }
            });
        }


        // })
    </script>
</head>

<body>
<!-- mobileNav -->
<div th:replace="~{swappa/assests/html/layout/_layout::header}"></div>
<!-- body -->
<div class="main-container">
    <div class="container-fluid">
        <main class="flex-shrink-0">
            <div class="container-fluid text-bg-light p-2 pb-1 mb-2" style="background-color: white !important;">
                <div id="tooltip-bar" class="row row-cols-2 row-cols-md-4 text-center mt-2">
                    <div class="col">
                        <a href="#" data-bs-toggle="tooltip" data-bs-html="true" title='
                    <div class="card text-bg-light">
                        <div class="card-header my-0 pb-0">
                            <div class="card-title border-bottom fw-bolder">No hidden fee</div>
                        </div>
                        <div class="pt-0 card-body">Standard shipping is included in the listing price. You pay what you see.
                        </div>
                    </div>' data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" class="text-primary"><i
                                class="fa-solid fa-dolly"></i> Free
                            shipping</a>
                    </div>
                    <div class="col">
                        <a href="#" data-bs-toggle="tooltip" data-bs-html="true" title='
                        <div class="card text-bg-light">
                            <div class="card-header my-0 pb-0">
                                <div class="card-title border-bottom fw-bolder">Tech has to work</div>
                            </div>
                            <div class="pt-0 card-body">No broken screens, blocked phones, or scammers. We have strict condition requirements, and real people verify listings before they go live.
                            </div>
                        </div>' data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                           class="text-primary"><i class="fa-solid fa-ban"></i> No
                            Junks, No Jerks</a>
                    </div>
                    <div class="col">
                        <a href="#" data-bs-toggle="tooltip" data-bs-html="true" title='
                        <div class="card text-bg-light">
                            <div class="card-header my-0 pb-0">
                                <div class="card-title border-bottom fw-bolder">We’re here to help</div>
                            </div>
                            <div class="pt-0 card-body">Our support team typically responds in 20 minutes or less. Really!
                            </div>
                        </div>' data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                           class="text-primary"><i class="fa-solid fa-envelope-open-text"></i>
                            24/7/350 Supports</a>
                    </div>
                    <div class="col">
                        <a href="#" data-bs-toggle="tooltip" data-bs-html="true" title='
                        <div class="card text-bg-light">
                            <div class="card-header my-0 pb-0">
                                <div class="card-title border-bottom fw-bolder">Sell with confidence</div>
                            </div>
                            <div class="pt-0 card-body">We use PayPal for payments because they provide extensive buyer and seller protections. Get paid directly to your PayPal account as soon as your item sells.
                            </div>
                        </div>' data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                           class="text-primary"><i class="fa-brands fa-paypal"></i>
                            Paypal Protection</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="container-fluid">
        <main class="flex-shrink-0">
            <div class="container-fluid text-bg-light p-2 pb-1 mb-2" style="background-color: white !important;">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <h4 class="fw-bolder mb-2">Customer information</h4>
                        <span id="id" style="color: white" th:text="${user.getId()}"></span>
                    </div>
                    <div class="col-12">
                        <table class="table">

                            <tbody>
                            <tr>
                                <!--                                    nếu có update vui lòng không đổi tên id tránh bị lỗi do call api-->

                                <th>
                                    <div id="name" class="d-flex justify-content-center align-items-center"
                                         th:text="${user.getEmail()}"></div>
                                </th>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center"
                                         th:text="${user.getFullname()}"></div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center" id="sdt"
                                         th:text="${user.getSdt()}"></div>
                                </td>
                                <td class="input-group ">
                                    <input type="text" class="form-control" disabled style="width: 90%" id="diachi"
                                           value="Cà Phê Phố Hiến, Phường Trung Mỹ Tây, Quận 12, TP. Hồ Chí Minh">
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <a id="text" style="cursor: pointer" onclick="editAddress()">Edit</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="container-fluid">
        <main class="flex-shrink-0">
            <div class="container-fluid text-bg-light p-2 pb-1 mb-2" style="background-color: white !important;">
                <div class="row">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="2">
                                    <div class="ms-5"><strong>List of products</strong></div>
                                </th>
                                <th class="align-middle text-center">Price</th>
                                <th class="align-middle text-center">Quantity</th>
                                <th class="align-middle text-center">Total payment</th>
                            </tr>
                            </thead>
                            <tbody id="thanhtoan">
                            <!--                                <tr>-->
                            <!--                                    <td>-->
                            <!--                                        <div class="d-flex px-2 py-1">-->

                            <!--                                            <div>-->
                            <!--                                                <img src="https://placehold.co/36x36/"-->
                            <!--                                                    class="avatar avatar-sm me-3 border-radius-lg" alt="user1"-->
                            <!--                                                    id="thongtin">-->
                            <!--                                            </div>-->
                            <!--                                            <div class="w-100 d-flex align-items-center">-->
                            <!--                                                <p class="text-xs text-secondary mb-0">-->
                            <!--                                                    Loại: Mặt Đen 80x20cm,....</p>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </td>-->
                            <!--                                    <td class="align-middle text-center">-->
                            <!--                                    </td>-->
                            <!--                                    <td class="align-middle text-center">-->
                            <!--                                        <p class="text-xs text-secondary mb-0" >-->
                            <!--                                            100$</p>-->
                            <!--                                    </td>-->
                            <!--                                    <td class="align-middle text-center">-->
                            <!--                                        <p class="text-xs text-secondary mb-0" >-->
                            <!--                                            2</p>-->
                            <!--                                    </td>-->
                            <!--                                    <td class="align-middle text-center">-->
                            <!--                                        <p class="text-xs text-secondary mb-0" >-->
                            <!--                                            200$</p>-->
                            <!--                                    </td>-->

                            <!--                                </tr>-->

                            </tbody>
                        </table>

                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 border-end">
                                <div class="row">
                                    <div class="col-4 d-flex justify-content-center align-items-center">
                                        <div>
                                            <span>Payment methods</span>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div style="margin-top: 28px">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="PayPal"
                                                       name="flexRadioDefault">
                                                <label class="form-check-label">
                                                    PayPal (payment by bank)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="Cod"
                                                       name="flexRadioDefault">
                                                <label class="form-check-label">
                                                    Cod (Payment in cash)
                                                </label>
                                            </div>
                                        </div>
                                    </div>

<!--                                        <div class="p-2 w-50">-->
<!--                                            -->
<!--                                        </div>-->

<!--                                        <div class="w-50 ms-auto p-2">-->
<!--                                            -->
<!--                                        </div>-->
                                </div>
                            </div>
                            <div class="col-8">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex">
                                        <div class="p-2 flex-fill"><strong>Shipping Unit</strong></div>
                                        <div class="p-2 me-5 flex-fill align-middle text-center">Fast</div>
                                        <div class="p-2 me-4 flex-fill align-middle text-center">=</div>
                                        <div class="p-2 me-4 flex-fill align-middle text-center">$2</div>
                                    </li>
                                    <li class=" list-group-item text-success"><i class="fa-solid fa-truck-moving"></i>
                                        Your order will arrive to you within 3 days (from the date the invoice is confirmed)
                                    </li>
                                    <li class="list-group-item"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="container">
                            <div class="d-flex flex-row-reverse">
                                <div class="p-2 text-danger">
                                    <div><strong class="tienThanhToan"></strong></div>
                                </div>
                                <div class="p-2">
                                    <div><strong>Total payment amount:</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="container-fluid">
        <main class="flex-shrink-0">
            <div class="container-fluid text-bg-light p-2 pb-1 mb-2" style="background-color: white !important;">
                <div class="row">
                    <div class="col-12">
                        <ul class="list-group list-group-flush">
                            <!--                            <li class="list-group-item">-->
                            <!--                                <div class="container">-->
                            <!--                                    <div class="d-flex">-->
                            <!--                                        <div class="p-2 w-100">-->
                            <!--                                            <div>-->
                            <!--                                                <i class="fa-solid fa-ticket"></i>-->
                            <!--                                                <span>Voucher</span>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="p-2  ms-auto ">-->
                            <!--                                            <a href="" class="text-primary">-->
                            <!--                                                <span>Select</span>-->
                            <!--                                            </a>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="container-fluid">
        <main class="flex-shrink-0">
            <div class="container-fluid text-bg-light p-2 pb-2 mb-2" style="background-color: white !important;">
                <div class="row">
                    <div class="col-12">

                        <div class="row">
                            <div class="col-4 ms-auto">
                                <div class="row">
                                    <div class="col-6">
                                        <div>Total cost of goods</div>
                                        <div>Transport fee</div>
                                        <div>Voucher</div>
                                        <div>Total payment</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="tienThanhToan"></div>
                                        <div>$2</div>
                                        <div id="discount">$0</div>
                                        <div id="TongThanhToan" class="text-danger fw-bolder"></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 ms-auto">
                                <button type="button" class="btn btn-outline-success " id="submitBtn">Confirm
                                    payment
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{swappa/assests/html/layout/_layout::footer}"></footer>
<script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/c22bed0de0.js" crossorigin="anonymous"></script>
<script src="/assests/js/app_admin.js"></script>
<script src="/assests/js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/assests/js/searchRcmd.js}"></script>
<!--    <script src="/assests/js/jsAll.js"></script>-->
<script>
    $(document).ready(async function(){
        var tongsp = document.getElementById("tongSoLuongSP");
        var tongSoLuong = 0;
        if (localStorage.getItem(sessionStorage.getItem("tendn"))) {
            var objarray = JSON.parse(localStorage.getItem(sessionStorage.getItem("tendn")));
            for (var int = 0; int < objarray.length; int++) {
                tongSoLuong = objarray.length;
            }
        }else {
            tongsp.textContent = tongSoLuong;
        }
        tongsp.textContent = tongSoLuong;
    })

    function editAddress() {

        var input = document.getElementById("diachi");
        var text = document.getElementById("text");
        if (input.disabled) {
            input.disabled = false; // Bỏ disabled nếu đã có
            text.textContent = "Save";
        } else {
            input.disabled = true; // Kích hoạt disabled nếu chưa có
            Swal.fire({
                title: 'Thông Báo từ hệ thống',
                text: "Bạn có chắc muốn địa chỉ đã sửa?",
                icon: 'success',
                confirmButtonText: 'Xác nhận',
                allowOutsideClick: false,
            }).then((result) => {
                text.textContent = "Edit";
            })
        }
    }
</script>
</body>

</html>