<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm chi tiết</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assests/css/style.css}">
    <link rel="shortcut icon" th:href="@{/assests/srcPic/x.png}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        #cart {
            position: fixed;
        }
        .fly-to-cart {
            position: fixed;
            transition: transform 1s, opacity 1s;
            z-index: 1000;

        }
    </style>
    <style>
        .link-body-emphasis:hover{
            color: rgba(178, 169, 169, 0.96) !important;
            font-weight: bolder!important;
            text-decoration: underline!important;
            text-decoration-color: white!important;
        }
    </style>
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v19.0"
        nonce="pbEXUQBH"></script>
<!-- header -->
<div th:replace="~{swappa/assests/html/layout/_layout::header}"></div>
<!-- body -->
<div class="container-fluid bg-semiBlack main-container">
    <main class="flex-shrink-0">
        <div id="main_container" class="container text-bg-cf pt-1 pb-2">
            <!-- content-top -->
            <!-- tooltip-bar -->

            <div id="message-block" class="text-center ">
                <div id="breadcrumb-bar" class="ms-3 mt-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-2">
                            <li class="breadcrumb-item"><a href="/trangchu">Home</a></li>
                            <li class="breadcrumb-item"><a href="#" th:text="${listProduct.getName()}"></a></li>
                            <div style="color: #ff000000; display: none">
                                <span id="dn" th:text="${checklogin}"></span>
                            </div>
                            <div style="color: #ff000000; display: none">
                                <span id="idproduct" th:text="${listProduct.getProductId()}"></span>
                            </div>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- <section class="mb-5 text-center">
            </section> -->

            <section class="justify-content-center">`
                <div class="row mt-3">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div id="myCarousel" class="carousel slide d-flex justify-content-center"
                              th:with="chuoiAnh=${listProduct.getPictures()}">
                            <!-- Carousel indicators -->
                            <!-- Wrapper for carousel items -->
                            <div class="carousel-inner h-50 w-50 "
                                 th:with="mangAnh=${#strings.arraySplit(chuoiAnh, ',')}">
                                <div class="carousel-item active product" >
                                    <img th:src="@{'../media/'+${mangAnh[0]}}" class="d-block w-100" alt="Slide 1"
                                         id="productAnh" style="object-fit: contain; width: 340px; height: 420px;" data-id="1">
                                </div>
                                <div class="carousel-item" th:if="${mangAnh.length  > 1}">
                                    <img th:src="@{'../media/'+${mangAnh[1]}}" class="d-block w-100" alt="Slide 2"
                                         style="object-fit: contain; width: 340px; height: 420px;">
                                </div>
                                <div class="carousel-item" th:if="${mangAnh.length  > 2}">
                                    <img th:src="@{'../media/'+${mangAnh[2]}}" class="d-block w-100" alt="Slide 3"
                                         style="object-fit: contain; width: 340px; height: 420px;">
                                </div>
                            </div>

                            <!-- Carousel controls -->
                            <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                                <i class="fa-solid fa-chevron-left" style="color: #000000; font-size: 40px;"></i></span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                                <i class="fa-solid fa-chevron-right" style="color: #000000; font-size: 40px;"></i>
                            </a>
                        </div>

                        <div class="card mt-2">
                            <div class="h1 text-success text-center mt-2">

                            </div>
                            <div class="d-flex justify-content-center gap-3 m-0 mt-1 mb-3 p-0">
                                <button class="btn border btn-outline-success fw-bolder" id="mualien" type="button"
                                        style="width: 10rem;">
                                    BuyNow
                                </button>
                                <button class="btn border btn-outline-success" type="button" id="soLuong"
                                ><i class="fa-solid fa-cart-plus"></i>
                                </button>
                                <button class="btn border btn-outline-success" type="button" id="yeuThich"
                                ><i class="fa-regular fa-heart"></i>
                                </button>
                                <div class="fb-share-button" data-href="http://127.0.0.1:5500/productDetail.html"
                                     data-layout="" data-size="">
                                    <a target="_blank"
                                       href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5500%2FproductDetail.html&amp;src=sdkpreparse"
                                       class="fb-xfbml-parse-ignore">Share</a>
                                </div>
                            </div>
                            <div class="card text-start mt-2">
                                <div class="card-header d-flex align-items-center justify-content-center">
                                    <span class="fs-4 fw-bolder" th:text="${listProduct.getName()}"
                                          id="productName"></span>
                                    <span class="fs-4 fw-bolder">------ Rate : </span>
                                    <span class="fs-4 fw-bolder" style="color: #c24444"
                                          th:text="'$'+ ${(listProduct.getSale() != null ? #numbers.formatDecimal(listProduct.getPrice().intValue() - (listProduct.getSale.getSalePercent() / 100.00 * listProduct.getPrice().intValue()), 1, 'DEFAULT', 2,'DEFAULT') : listProduct.getPrice())}"
                                          id="productPrice"></span>
                                </div>
                                <div>
                                    <ul class="small-ul">
                                        <li class="pt-1"><i class="fa-solid fa-circle-info" style="color: #47608a;"></i>
                                            <span th:text="${listProduct.description}"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card text-start mt-4">

                                <div class="p-2 d-flex justify-content-center align-items-centerW">
                                    <video controls class="w-100" style="max-width: 1098px; max-height: 549px;">
                                        <source th:src="@{'../media/'+${listProduct.videos}}">
                                    </video>
                                </div>
                                <div class="">
                                    <ul class="small-ul border-start ps-2 ms-3 fw-lighter fs-18">
                                        <li th:text="${listProduct.description}"></li>
                                        <!-- <li>{{prod.name3}}
                                            Pro Max in striking {{prod.color}} with a generous {{prod.storage}} of storage,
                                            compatible with
                                            Boost Infinite/Mobile.</li>
                                        <li class="mt-2">This {{prod.name3}} is in immaculate condition, but it doesn't
                                            come in its original packaging. It has been handled with care and it looks
                                            essentially brand new, ready for its next owner to enjoy.</li>
                                        <li class="mt-2">The battery health stands at {{prod.battery}}.</li>
                                        <li class="mt-2">Please note that this listing includes the {{prod.name3}} device
                                            only, without any accessories. It is in like-new condition.</li>
                                        <li class="mt-2">If you have any questions or need further information about this
                                            essentially new {{prod.name3}}, please feel free to reach out.</li>
                                        <li class="mt-2">Thank you for considering this exceptional opportunity to own a
                                            virtually new {{prod.name3}}.</li> -->
                                    </ul>
                                    <hr class="mx-5">
                                </div>

                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-3 d-flex">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 my-3">
                                                <img src="../shopImg/" id="logoShop" alt="..." style="width: 113px; height: 113px; border-radius: 100%; border: gray solid 1px">
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <div class="flex-grow-1 ms-3" id="NameShop"></div>
                                                <button class="btn btn-custom" id="viewShopButton">
                                                    <i class="fa-solid fa-store"></i> View shop
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 d-flex" style="font-size: 13px">
                                        <div class="d-flex text-secondary flex-column my-2 w-50 my-4">
                                            <div class="flex-grow-1">Total Product</div>
                                            <div class="flex-grow-1">Orders sold within 1 month</div>
                                        </div>
                                        <div class="d-flex text-danger flex-column ms-2 w-50 my-4">
                                            <div class="flex-grow-1" id="total-product">0</div>
                                            <div class="flex-grow-1" id="orders-sold">0</div>
                                        </div>
                                    </div>
                                    <div class="col-3 d-flex" style="font-size: 13px">
                                        <div class="d-flex text-secondary flex-column my-2 w-50 my-4">
                                            <div class="flex-grow-1">Joined</div>
                                            <div class="flex-grow-1">Total comments</div>
                                        </div>
                                        <div class="d-flex text-danger flex-column ms-2 w-50 my-4">
                                            <div class="flex-grow-1" id="joined">0</div>
                                            <div class="flex-grow-1" id="total-comments">0</div>
                                        </div>
                                    </div>
                                    <div class="col-3 d-flex" style="font-size: 13px">
                                        <div class="d-flex text-secondary flex-column my-2 w-50 my-4">
                                            <div class="flex-grow-1">Total product category</div>
                                            <div class="flex-grow-1">Total likes of all products</div>
                                        </div>
                                        <div class="d-flex text-danger flex-column ms-2 w-50 my-4">
                                            <div class="flex-grow-1" id="total-categories">0 Category</div>
                                            <div class="flex-grow-1" id="total-likes">0 <i class="fa-solid fa-heart" style="color: #ff0000;"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-8 col-lg-6 w-100">
                                        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                                            <div class="card-body p-2">
                                                <div class="form-outline mb-4">
                                                    <div class="input-group mb-3">
                                                    <textarea placeholder="Enter your comment about the product"
                                                              class="form-control" id="commentText" rows="1"></textarea>
                                                        <button class="btn btn-outline-secondary" type="button"
                                                                id="submitButtonNhanXet">Comment
                                                        </button>
                                                    </div>
                                                    <div id="commentMessage" class="text-danger"></div>
                                                    <!-- Placeholder for error/success message -->
                                                </div>
                                                <div id="commentsContainer" class="card mb-4">
                                                    <!-- Dữ liệu comment sẽ được thêm vào đây bằng JavaScript -->
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination" id="pagination">
                                                            <!-- Các nút phân trang sẽ được thêm bằng JavaScript -->
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card text-start mt-4">
                                <div class="card-header d-flex align-items-center border-bottom mx-3">
                                    <div>
                                        <span class="h4 fw-bold">Shipping & Handling</span>
                                    </div>
                                    <div class="ms-2">
                                        <a href="" class="text-success">Shipping Policies</a>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table align-middle">
                                        <tr>
                                            <td rowspan="4" class="text-center fs-5 border-0">
                                                <i class="fa-solid fa-dolly"></i>
                                                <br>
                                                <span>Standard Shipping</span>
                                                <br>
                                                <b>Free</b>
                                            </td>
                                            <td class="border-0 fw-light py-1"><i class="fa-solid fa-circle-check"
                                                                                  style="color: #00bd16;"></i> Ships
                                                from
                                                Chesapeake, VA
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="border-0 fw-light py-1"><i class="fa-solid fa-circle-check"
                                                                                  style="color: #00bd16;"></i> Ships
                                                with
                                                Tracking & Insurance
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="border-0 fw-light py-1"><i class="fa-solid fa-circle-check"
                                                                                  style="color: #00bd16;"></i> Ships in
                                                2
                                                business days or less
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="border-0 fw-light py-1"><i class="fa-solid fa-circle-check"
                                                                                  style="color: #00bd16;"></i> Seller
                                                not
                                                required to ship internationally
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>

    </main>

</div>

<footer th:replace="~{swappa/assests/html/layout/_layout::footer}"></footer>
<script>
    $(document).ready(function() {
        function getQueryParam(name) {
            let url = new URL(window.location.href);
            return url.searchParams.get(name);
        }

        var slugUrl = getQueryParam('slug_url');
        if (slugUrl) {
            $.ajax({
                url: '/findbyproductidapi',
                type: 'GET',
                data: { slug_url: slugUrl },
                success: function(productResponse) {
                    if (productResponse && productResponse.productId) {
                        var productId = productResponse.productId;
                        $.ajax({
                            url: '/get-comments-by-productId',
                            type: 'GET',
                            data: { productId: productId },
                            success: function(commentResponse) {
                                // Tính số lượng trang
                                var totalComments = commentResponse.length;
                                var totalPages = Math.ceil(totalComments / 5);

                                // Hiển thị phân trang
                                var paginationContainer = $('#pagination');
                                for (var i = 1; i <= totalPages; i++) {
                                    var pageHtml = `
                                    <li class="page-item"><a class="page-link text-dark" href="#" data-page="${i}">${i}</a></li>
                                `;
                                    paginationContainer.append(pageHtml);
                                }

                                // Hiển thị comment theo trang
                                function displayComments(page) {
                                    var startIndex = (page - 1) * 5;
                                    var endIndex = startIndex + 5;
                                    var commentsContainer = $('#commentsContainer');
                                    commentsContainer.empty(); // Xóa nội dung cũ trước khi hiển thị trang mới

                                    commentResponse.slice(startIndex, endIndex).forEach(function(commentArray) {
                                        if (commentArray.length >= 6) {
                                            var commentHtml = `
                                            <div class="card mb-4">
                                                <div class="card-body">
                                                    <h5>${commentArray[2]}</h5>
                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <img src="/assests/imagesUser/${commentArray[4]}" alt="avatar" width="50" style="border-radius: 30%" height="50"/>
                                                            <p class="small mb-0 ms-2">${commentArray[5]}</p>
                                                        </div>
                                                        <div class="d-flex flex-row align-items-center">
                                                            <p class="small text-muted mb-0">${commentArray[3]}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        `;
                                            commentsContainer.append(commentHtml);
                                        } else {
                                            console.warn('Mảng con không có đủ thông tin cần thiết.');
                                        }
                                    });
                                }

                                // Mặc định hiển thị trang đầu tiên
                                displayComments(1);

                                // Xử lý sự kiện khi click vào nút phân trang
                                paginationContainer.on('click', 'a.page-link', function(e) {
                                    e.preventDefault();
                                    var page = $(this).data('page');
                                    displayComments(page);
                                });
                            },
                            error: function(xhr, status, error) {
                                console.error('Lỗi khi lấy danh sách comment:', error);
                            }
                        });
                    } else {
                        console.error('Không tìm thấy product_id.');
                    }
                },
                error: function(error) {
                    console.error('Lỗi khi lấy product_id:', error);
                }
            });
        } else {
            console.error('Tham số slug_url bị thiếu trong URL');
        }
    });

</script>
<script>
    $(document).ready(function() {
        function getQueryParam(name) {
            let url = new URL(window.location.href);
            return url.searchParams.get(name);
        }
        var slugUrl = getQueryParam('slug_url');
        if (slugUrl) {
            $.ajax({
                url: '/findbyproductidapi',
                type: 'GET',
                data: { slug_url: slugUrl },
                success: function(productResponse) {
                    if (productResponse && productResponse.productId) {
                        var productId = productResponse.productId;
                        $.ajax({
                            url: '/product-shop',
                            type: 'GET',
                            data: { productId: productId },
                            success: function(shopResponse) {
                                if (shopResponse && shopResponse.shop_id) {
                                    var shopId = shopResponse.shop_id;
                                    $.ajax({
                                        url: '/shop',
                                        type: 'GET',
                                        data: { shop_id: shopId },
                                        success: function(shopDetailsResponse) {
                                            if (shopDetailsResponse && shopDetailsResponse.length > 0) {
                                                var shopDetails = shopDetailsResponse[0];
                                                $('#logoShop').attr('src', '/assets/shopImg/' + shopDetails[0]);
                                                $('#NameShop').text(shopDetails[1]);
                                                $('#total-product').text(shopDetails[2]);
                                                $('#orders-sold').text(shopDetails[3]);
                                                $('#joined').text(shopDetails[4]);
                                                $('#total-comments').text(shopDetails[5]);
                                                $('#total-categories').text(shopDetails[6]);
                                                $('#total-likes').text(shopDetails[7] + ' ').append('<i class="fa-solid fa-heart" style="color: #ff0000;"></i>');
                                                $('#viewShopButton').attr('onclick', `viewShop(${shopId})`);
                                            }
                                        },
                                        error: function(shopDetailsError) {
                                            console.error("Lỗi khi lấy thông tin shop:", shopDetailsError);
                                        }
                                    });
                                } else {
                                    console.error("Không tìm thấy shop_id trong phản hồi");
                                }
                            },
                            error: function(shopError) {
                                console.error("Lỗi khi lấy shop_id:", shopError);
                            }
                        });
                    } else {
                        console.error("Không tìm thấy product_id trong phản hồi");
                    }
                },
                error: function(error) {
                    console.error("Lỗi khi lấy product_id:", error);
                }
            });
        } else {
            console.error("Tham số slug_url bị thiếu trong URL");
        }
    });

    function viewShop(shopId) {
        fetch(`/view-shop?shopId=${shopId}`)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Shop Details:', data.data);
                    localStorage.setItem('shopId', shopId);
                    window.location.href = '/user/shop';
                } else {
                    console.error('Error fetching shop details:', data.message);
                }
            })
            .catch(error => console.error('Fetch error:', error));
    }
</script>

<script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/c22bed0de0.js" crossorigin="anonymous"></script>
<script src="/assests/js/app.js"></script>
<script src="/assests/js/script.js"></script>
<script src="/assests/js/jsAll.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script th:src="@{/assests/js/searchRcmd.js}"></script>
<script>
    $(document).ready(function () {
        $('#updateError').hide();
        $('#updateSuccess').hide();
        fetchVouchers();
        fetchOrders();

        $('#submitBtn').click(function () {
            updateUser();
            generateQRCode();
        });

        $('#fileInput').change(handleFileInputChange);
        $('#navbar_search_input').keydown(function (e) {
            if (e.which === 13) {
                searchProducts();
            }
        });
        getSoLuongGioHang();

        //dung co xoa cai nay vi khong tim duoc cach nao load va xoa thong bao
        var id;
        if (sessionStorage.getItem("idnguoidung") == ""){

        }else {
            $.ajax({
                url: '/finduseridwitchNotification?id='+sessionStorage.getItem("idnguoidung"),
                type: 'GET',
                contentType: 'application/json',
                success: function (data) {
                    soluong = data.length;
                    $('#soluongthongbao').text(soluong)
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error:', errorThrown);
                }
            });
        }

        $('#btnthongobao').click(function () {
            id = (sessionStorage.getItem("idnguoidung") == "" ? "false" : sessionStorage.getItem("idnguoidung"));
            if (id == "false"){
                Swal.fire({
                    title: 'Notifications from the system',
                    text: 'You are not logged in, please log in.',
                    icon: 'warning', // Có thể thay đổi icon thành 'error', 'warning', 'info', hoặc 'question'
                    confirmButtonText: 'Confirm',
                    allowOutsideClick: false
                }).then((result) => {
                    if (result){
                        window.location.href = "/loginacount";
                    }
                })
            }else {
                $("#notification-dropdown").toggleClass("d-none");
                $('#thogbao').empty();
                $.ajax({
                    url: '/finduseridwitchNotification?id='+sessionStorage.getItem("idnguoidung"),
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (data) {
                        var soluong = data.length;
                        if (soluong == 0){
                            $('#thogbao').append(`
                            <div class="text-dark fw-bolder" style="color: #edd678">No new announcements.</div>`);
                        }
                        $('#soluongthongbao').text(soluong)
                        // Hiển thị dữ liệu trong bảng
                        data.forEach(function (order) {
                            $('#thogbao').append(`
                        <div class="text-dark fw-bolder" style="text-decoration: underline; cursor : pointer">You have a new voucher in your account.</div>
                        `);
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error:', errorThrown);
                    }
                });
            }
        });

        $('#xoathongbao').click(function () {
            $.ajax({
                url: '/deleteNotification?id='+id,
                type: 'GET',
                contentType: 'application/json',
                success: function (data) {
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error:', errorThrown);
                }
            });
        })
    });
</script>
<script th:src="@{/assests/js/searchRcmd.js}"></script>

<script>
    $(document).ready(function () {
        $('#navbar_search_input').on('keydown', function (e) {
            if (e.which == 13) {
                searchProducts();
            }
        });
        function searchProducts() {
            var keyword = $('#navbar_search_input').val();
            var type = $('#select_loai').val();
            $.ajax({
                url: '/api/search',
                type: 'POST',
                data: {
                    keyword: keyword,
                    type: type
                },
                success: function (response) {
                    if (response.success) {
                        console.log('Gọi API thành công:', response.data);
                        sessionStorage.setItem('searchResults', JSON.stringify(response.data));
                        window.location.href = '/search-Product';
                    } else {
                        console.log('Gọi API thất bại:', response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.log('Lỗi:', error);
                }
            });
        }
    });
</script>
<script>
    $(document).ready(function () {
        $("#submitButtonNhanXet").click(function () {
            var commentText = $("#commentText").val();
            var urlString = window.location.href;
            var urlParts = urlString.split('?');
            var queryString = urlParts[1];
            var queryParams = queryString.split('=');
            var slugUrl = queryParams[1];
            var currentDate = new Date();

            // Tạo một đối tượng CommentDTO
            var commentDTO = {
                comment: commentText,
                slugUrl: slugUrl,
                createDate: currentDate
            };

            // Thực hiện AJAX request để tạo nhận xét bằng Axios
            axios.post('/createComment', commentDTO)
                .then(function (response) {
                    let responseData = response.data;
                    if (responseData.message === 'User not logged in') {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Please log in!!!",
                            timer: 2000,
                        }).then((result) => {
                            window.location.href = '/loginacount';
                        });
                    } else if (commentText === '') {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Please enter a comment!!!",
                            timer: 2000,
                        });
                        return; // Exit the function if comment text is empty
                    }else if (responseData.message === 'Comment created successfully') {
                        Swal.fire({
                            icon: "success",
                            title: "Success",
                            text: "Comment created successfully",
                            timer: 2000,
                        }).then((result) => {
                            $("#commentText").val("");
                            location.reload();
                        });
                    }
                })
                .catch(function (error) {
                    console.error("Lỗi khi tạo nhận xét:", error);
                    // Tùy chọn, bạn có thể hiển thị thông báo lỗi cho người dùng
                });
        });
    });
</script>

<script th:src="@{/assests/js/Favorite.js}"></script>
<script th:src="@{/assests/js/SearchProduct.js}"></script>
</body>
</html>