<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tổng sản phẩm</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assests/css/style.css}">
    <link rel="shortcut icon" th:href="@{/assests/srcPic/x.png}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        .img-container {
            height: 200px; /* Điều chỉnh chiều cao tùy theo nhu cầu */
            display: flex; /* Sử dụng flexbox để căn chỉnh hình ảnh */
            align-items: center; /* Căn chỉnh hình ảnh theo trục dọc */
            justify-content: center; /* Căn chỉnh hình ảnh theo trục ngang */
            overflow: hidden; /* Đảm bảo ảnh không bị tràn ra ngoài */
        }

        .img-container img {
            max-height: 100%; /* Đảm bảo chiều cao của ảnh không vượt quá container */
            width: auto; /* Chiều rộng tự động điều chỉnh để duy trì tỷ lệ khung hình */
        }

        .link-body-emphasis:hover{
            color: rgba(178, 169, 169, 0.96) !important;
            font-weight: bolder!important;
            text-decoration: underline!important;
            text-decoration-color: white!important;}
        #cart {
            position: fixed;
        }
        .fly-to-cart {
            position: fixed;
            transition: transform 1s, opacity 1s;
            z-index: 1000;
        }
    </style>
</head>
<body>
<!-- header -->
<div th:replace="~{swappa/assests/html/layout/_layout::header}"></div>
<!-- main -->
<div class="flex-shrink-0 main-container">
    <div class="d-flex flex-column">
        <!-- body -->
        <div id="main_container" class="container-fluid text-bg-cf p-0 pt-3">
            <!-- content-top -->
            <!-- tooltip-bar -->
            <div id="tooltip-bar" class="row row-cols-2 row-cols-md-4 text-center">
                <div class="col">
                    <a href="#" data-bs-toggle="tooltip" data-bs-html="true" title='
                                <div class="card text-bg-light">
                                    <div class="card-header my-0 pb-0">
                                        <div class="card-title border-bottom fw-bolder">No hidden fee</div>
                                    </div>
                                    <div class="pt-0 card-body">Standard shipping is included in the listing price. You pay what you see.
                                    </div>
                                </div>' data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                       class="text-primary"><i
                            class="fa-solid fa-dolly"></i> Free
                        shipping</a>
                </div>
                <div class="col">
                    <a href="#" data-bs-toggle="tooltip" data-bs-html="true" title='
                                    <div class="card text-bg-light">
                                        <div class="card-header my-0 pb-0">
                                            <div class="card-title border-bottom fw-bolder">Tech has to work</div>
                                        </div>
                                        <div class="pt-0 card-body">No broken screens, blocked phones, or scammers. We have strict condition requirements, and real people verify listings before they go live.
                                        </div>
                                    </div>' data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                       class="text-primary"><i
                            class="fa-solid fa-ban"></i> No
                        Junks, No Jerks</a>
                </div>
                <div class="col">
                    <a href="#" data-bs-toggle="tooltip" data-bs-html="true" title='
                                    <div class="card text-bg-light">
                                        <div class="card-header my-0 pb-0">
                                            <div class="card-title border-bottom fw-bolder">We’re here to help</div>
                                        </div>
                                        <div class="pt-0 card-body">Our support team typically responds in 20 minutes or less. Really!
                                        </div>
                                    </div>' data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                       class="text-primary"><i
                            class="fa-solid fa-envelope-open-text"></i>
                        24/7/365 Supports</a>
                </div>
                <div class="col">
                    <a href="#" data-bs-toggle="tooltip" data-bs-html="true" title='
                                    <div class="card text-bg-light">
                                        <div class="card-header my-0 pb-0">
                                            <div class="card-title border-bottom fw-bolder">Sell with confidence</div>
                                        </div>
                                        <div class="pt-0 card-body">We use PayPal for payments because they provide extensive buyer and seller protections. Get paid directly to your PayPal account as soon as your item sells.
                                        </div>
                                    </div>' data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                       class="text-primary"><i
                            class="fa-brands fa-paypal"></i>
                        Paypal Protection</a>
                </div>
            </div>
            <!-- breadcrumb-bar -->
            <div id="breadcrumb-bar" class="ms-3 mt-3">
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb mb-2" th:switch="${active}">
                        <span th:case="1" class="d-flex">
                          <li class="breadcrumb-item"><a href="/p/home">Home</a></li>
                          <li class="breadcrumb-item"><a href="/p/categoryType?categoryId=1">Outerwear</a></li>
                        </span>
                        <div th:case="2" class="d-flex">
                            <li class="breadcrumb-item"><a href="/p/home">Home</a></li>
                            <li class="breadcrumb-item"><a href="/p/categoryType?categoryId=2">Tops</a></li>
                        </div>
                        <div th:case="3" class="d-flex">
                            <li class="breadcrumb-item"><a href="/p/home">Home</a></li>
                            <li class="breadcrumb-item"><a href="/p/categoryType?categoryId=3">Bottoms</a></li>
                        </div>
                        <div th:case="4" class="d-flex">
                            <li class="breadcrumb-item"><a href="/p/home">Home</a></li>
                            <li class="breadcrumb-item"><a href="/p/categoryType?categoryId=4">Jewels & Accessories</a>
                            </li>
                        </div>
                        <div th:case="5" class="d-flex">
                            <li class="breadcrumb-item"><a href="/p/home">Home</a></li>
                            <li class="breadcrumb-item"><a href="/p/categoryType?categoryId=5">Headwear</a></li>
                        </div>
                        <div th:case="6" class="d-flex">
                            <li class="breadcrumb-item"><a href="/p/home">Home</a></li>
                            <li class="breadcrumb-item"><a href="/p/categoryType?categoryId=6">Footwear</a></li>
                        </div>
                    </ul>
                </nav>
            </div>

            <!-- product -->
            <section>


                <div class="row ms-1 me-1">
                    <div class="col-lg-3 col-md-5">
                        <div class="shadow-sm bg-body-tertiary" style="background-color: rgba(128, 128, 128, 0.085);">
                            <div class="list-group">
                                <div href="#"
                                     class="list-group-item list-group-item-action text-bg-dark text-center rounded-0"
                                     aria-current="true">
                                    LIST OF PRODUCTS
                                </div>
                                <div>
                                    <div>
                                        <ul>
                                            <li class="p-0">
                                                <a class="btn border-0 pb-2 button-category" onclick="fiterByCategory()" id="allProduct"> All Product </a>
                                            </li>
                                            <li class="p-0">
                                                <a class="btn border-0 pb-2 button-category" onclick="fiterByCategory('Outerwear')"> Outerwear </a>
                                            </li>
                                            <li class="p-0">
                                                <a class="btn border-0 pb-2 button-category" onclick="fiterByCategory('Tops')"> Tops </a>
                                            </li>
                                            <li class="p-0">
                                                <a class="btn border-0 pb-2 button-category" onclick="fiterByCategory('Bottoms')">Bottoms</a>
                                            </li>
                                            <li class="p-0">
                                                <a class="btn border-0 pb-2 button-category" onclick="fiterByCategory('Jewels & Accessories')">Jewels & Accessories</a>
                                            </li>
                                            <li class="p-0">
                                                <a class="btn border-0 pb-2 button-category" onclick="fiterByCategory('Headwear')">Headwear</a>
                                            </li>
                                            <li class="p-0">
                                                <a class="btn border-0 pb-2 button-category" onclick="fiterByCategory('Footwear')">Footwear</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="shadow-sm bg-body-tertiary" style="background-color: rgba(128, 128, 128, 0.085);">-->
<!--                            <div class="list-group">-->
<!--                                <div href="#"-->
<!--                                     class="list-group-item list-group-item-action text-bg-dark text-center rounded-0"-->
<!--                                     aria-current="true">-->
<!--                                    SIZE-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <ul>-->
<!--                                        <input type="radio" class="mt-3 mb-3" name="size"> XS-->
<!--                                        <br>-->
<!--                                        <input type="radio" class="mt-3 mb-3" name="size"> S-->
<!--                                        <br>-->
<!--                                        <input type="radio" class="mt-3 mb-3" name="size"> M-->
<!--                                        <br>-->
<!--                                        <input type="radio" class="mt-3 mb-3" name="size"> L-->
<!--                                        <br>-->
<!--                                        <input type="radio" class="mt-3 mb-3" name="size"> XL-->
<!--                                        <br>-->
<!--                                        <input type="radio" class="mt-3 mb-3" name="size"> XXl-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>


                    <div class="col-lg-9 col-md-7">
                        <div class="row pb-3">
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-2 p-0">
                                        <p>Sort by</p>
                                    </div >
                                    <div class="col-2 p-0">
                                        <button class="btn btn-danger button" onclick="filterMostPurchasedProducts()">Relevance</button>
                                    </div>
                                    <div class="col-2 p-0">
                                        <button class="btn button" onclick="fiterSanPhamPhoBienNhat()">Latest</button>
                                    </div>
                                    <div class="col-2 p-0">
                                        <button class="btn button" onclick="filterBestSellingProducts()">Top Sales</button>
                                    </div>
                                    <script>
                                        $(document).ready(function(){
                                            $('.button').click(function(){
                                                $('.button').removeClass("btn-danger");
                                                $(this).addClass("btn-danger");
                                            });
                                            $('.button-category').click(function() {
                                                $('.button-category').removeClass("text-danger");
                                                $(this).addClass("text-danger");
                                            });

                                            $('.button-category').each(function() {
                                                if (categoryType == '' && type == null) {
                                                    console.log("ecu")
                                                    $('#allProduct').addClass("text-danger");
                                                }
                                                if(categoryType == ""){
                                                    if ($(this).text().trim() === type) {
                                                        $(this).addClass("text-danger");
                                                    } else {
                                                        $(this).removeClass("text-danger");
                                                    }
                                                }
                                                else{
                                                    if ($(this).text().trim() === categoryType) {
                                                        $(this).addClass("text-danger");
                                                    }else {
                                                        $(this).removeClass("text-danger");
                                                    }
                                                }
                                            });

                                            //dung co xoa cai nay vi khong tim duoc cach nao load va xoa thong bao
                                            var id;
                                            if (sessionStorage.getItem("idnguoidung") == ""){

                                            }else {
                                                $.ajax({
                                                    url: '/finduseridwitchNotification?id='+sessionStorage.getItem("idnguoidung"),
                                                    type: 'GET',
                                                    contentType: 'application/json',
                                                    success: function (data) {
                                                        soluong = data.length;
                                                        $('#soluongthongbao').text(soluong)
                                                    },
                                                    error: function (jqXHR, textStatus, errorThrown) {
                                                        console.error('Error:', errorThrown);
                                                    }
                                                });
                                            }

                                            $('#btnthongobao').click(function () {
                                                id = (sessionStorage.getItem("idnguoidung") == "" ? "false" : sessionStorage.getItem("idnguoidung"));
                                                if (id == "false"){
                                                    Swal.fire({
                                                        title: 'Notifications from the system',
                                                        text: 'You are not logged in, please log in.',
                                                        icon: 'warning', // Có thể thay đổi icon thành 'error', 'warning', 'info', hoặc 'question'
                                                        confirmButtonText: 'Confirm',
                                                        allowOutsideClick: false
                                                    }).then((result) => {
                                                        if (result){
                                                            window.location.href = "/loginacount";
                                                        }
                                                    })
                                                }else {
                                                    $("#notification-dropdown").toggleClass("d-none");
                                                    $('#thogbao').empty();
                                                    $.ajax({
                                                        url: '/finduseridwitchNotification?id='+sessionStorage.getItem("idnguoidung"),
                                                        type: 'GET',
                                                        contentType: 'application/json',
                                                        success: function (data) {
                                                            var soluong = data.length;
                                                            if (soluong == 0){
                                                                $('#thogbao').append(`
                                                                <div class="text-dark fw-bolder" style="color: #edd678">No new announcements.</div>`);
                                                            }
                                                            $('#soluongthongbao').text(soluong)
                                                            // Hiển thị dữ liệu trong bảng
                                                            data.forEach(function (order) {
                                                                $('#thogbao').append(`
                                                            <div class="text-dark fw-bolder" style="text-decoration: underline; cursor : pointer">You have a new voucher in your account.</div>
                                                            `);
                                                            });
                                                        },
                                                        error: function (jqXHR, textStatus, errorThrown) {
                                                            console.error('Error:', errorThrown);
                                                        }
                                                    });
                                                }
                                            });

                                            $('#xoathongbao').click(function () {
                                                $.ajax({
                                                    url: '/deleteNotification?id='+id,
                                                    type: 'GET',
                                                    contentType: 'application/json',
                                                    success: function (data) {
                                                        location.reload();
                                                    },
                                                    error: function (jqXHR, textStatus, errorThrown) {
                                                        console.error('Error:', errorThrown);
                                                    }
                                                });
                                            })
                                        })
                                    </script>
                                    <div class="col-3 p-0">
                                        <select class="form-select " aria-label="Sort Product" onchange="handleSelectChange(this)">
                                            <option selected style="display: none">Price</option>
                                            <option value="lowToHigh">Low To High</option>
                                            <option value="highToLow">High To Low</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 text-end">
                                <span id="page-info"></span>
                                <button class="btn" onclick="handlerPageNumberPrev()"> <span aria-hidden="true">&laquo;</span> </button>
                                <button class="btn" onclick="handlerPageNumberNext()"> <span aria-hidden="true">&raquo;</span> </button>
                            </div>
                        </div>

                        <div class="row" id="search-results">
                            <!-- Vòng lặp Thymeleaf để duyệt qua từng sản phẩm -->
<!--                            <div class="col-lg-2 col-md-3 col-sm-4" th:each="product : ${listProduct}">-->
<!--                                <div class="card rounded-3 shadow border-0 text-center d-product justify-content-center mb-3" style="overflow: hidden;">-->
<!--                                    &lt;!&ndash; Only wrap the elements that you want to be clickable with the anchor tag &ndash;&gt;-->
<!--                                    <a th:href="@{'/product?slug_url=' + ${product.slug}}" class="product">-->
<!--                                        &lt;!&ndash; Hiển thị thông tin sản phẩm &ndash;&gt;-->
<!--                                        <div th:if="${product.getSale()}" style="position: absolute">-->

<!--                        <span class="badge text-bg-danger"-->
<!--                              th:text="${product.sale.salePercent + '%'}"></span>-->

<!--                                        </div>-->
<!--                                        <div class="img-container" >-->
<!--                                            <img th:src="@{'../media/' + ${product.pictures.split(',')[0]}}" class="img-fluid mt-2 mb-3" alt="">-->
<!--                                        </div>-->
<!--                                        <div class="w-100">-->
<!--                        <span class="d-inline-block text-truncate" style="max-width: 90%;"-->
<!--                              th:text="${product.name}"></span>-->

<!--                                        </div>-->
<!--                                        <div class="w-100">-->
<!--                                            <div class="d-flex justify-content-around">-->
<!--                                                <div th:if="${product.getSale}"  class="d-flex justify-content-around w-100">-->
<!--                                                    <del th:text="${product.price}"></del>-->
<!--                                                    <span id="giasanphamsale" style="color:#c07d4b; font-weight: bolder" th:text="${(product.getSale()!= null? #numbers.formatDecimal(product.getPrice().intValue() - (product.getSale.getSalePercent() / 100.00 * product.getPrice().intValue()), 1, 'DEFAULT', 2,'DEFAULT') : product.getPrice())}"></span>-->
<!--                                                </div>-->
<!--                                                <div id="giasanpham" th:unless="${product.getSale()}" th:text="${product.getPrice()}"></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </a>-->
<!--                                    &lt;!&ndash; Button should be outside the anchor tag &ndash;&gt;-->
<!--                                    <button class="rounded-bottom-3 w-100 fw-bolder text-white"-->
<!--                                            th:attr="-->
<!--                                                data-product-id=${product.getProductId()},-->
<!--                                                data-product-name=${product.name},-->
<!--                                                data-product-sale=${(product.getSale()!= null? #numbers.formatDecimal(product.getPrice().intValue() - (product.getSale.getSalePercent() / 100.00 * product.getPrice().intValue()), 1, 'DEFAULT', 2,'DEFAULT') : product.getPrice())},-->
<!--                                                data-product-price=${product.price},-->
<!--                                                data-product-Anh=@{'../media/' + ${product.pictures.split(',')[0]}},-->
<!--                                                data-product-sale-on = ${(product.getSale()!= null ? '1' : '0')},-->
<!--                                                onclick='getIdSanPham(this.getAttribute(&quot;data-product-id&quot;), this.getAttribute(&quot;data-product-name&quot;), this.getAttribute(&quot;data-product-sale&quot;), this.getAttribute(&quot;data-product-price&quot;), this.getAttribute(&quot;data-product-Anh&quot;), this.getAttribute(&quot;data-product-sale-on&quot;))'"-->
<!--                                                style="background-color: rgb(224, 150, 150); border-color: rgba(0,0,0,0)" >-->
<!--                                        Mua ngay-->
<!--                                    </button>-->
<!--                                    <div style="display:none;" id="activeLogin" th:text="${activeLogin}"></div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
<!-- footer -->
<footer th:replace="~{swappa/assests/html/layout/_layout::footer}"></footer>
<script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/c22bed0de0.js" crossorigin="anonymous"></script>
<!--<script src="/assests/js/jsAll.js"></script>-->
<script th:src="@{/assests/js/searchRcmd.js}"></script>
<script th:src="@{/assests/js/Product.js}"></script>
<script th:src="@{/assests/js/SearchProduct.js}"></script>
</body>
</html>