<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/assests/srcPic/x.png" type="image/x-icon">
    <title>Shop</title>
    <link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assests/css/style.css">
</head>
<style>
    .active-category a {
        color: black;
        font-weight: 500;
        max-width: 150px;
    }

    .active-category a:hover {
        color: gray;
        text-decoration: blink;
    }

    .active-category-hover a {
        color: #ff4242;
        font-weight: 500;
        max-width: 150px;
        text-decoration: underline;
    }
</style>
<body>

<!-- header -->
<div th:replace="~{swappa/assests/html/layout/_layout::header}"></div>

<!--main-->
<div style="min-height: 600px">
    <div class="container mt-2">
        <div class="row" style="background-color: rgba(241,241,241,0.67)" id="shopInfoContainer">

        </div>
    </div>


    <div class="container" style="margin-top: 50px">
        <div class="text-uppercase " style="font-weight: bolder; color: #808080FF; font-size: 15px">
            Sản phẩm của shop
        </div>
        <div class="row">
            <div class="col-2">
                <div class="d-flex mt-2">
                    <div>
                        <i class="fa-solid fa-list-ul"></i>
                    </div>
                    <div style="margin-left: 10px">
                        Danh mục
                    </div>
                </div>
                <hr style="margin: 10px">
                <div id="categoryShopContainer">

                </div>
            </div>
            <div class="col-10">
                <div class="row" id="getProductByCategoryAndShopEmailContainer">


                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<!-- footer -->
<footer th:replace="~{swappa/assests/html/layout/_layout::footer}"></footer>
</body>
<script src="https://kit.fontawesome.com/fe7d543762.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/qrcode-js-package@1.0.4/qrcode.min.js"></script>
<script src="/assests/js/ShopUser.js"></script>
</html>