<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assests/srcPic/x.png" type="image/x-icon">
    <title>User Page</title>
    <link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assests/css/style.css">
    <link rel="stylesheet" href="/assests/css/userPage.css">
    <link rel="shortcut icon" href="/assests/srcPic/x.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <!-- External Scripts -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcode-js-package@1.0.4/qrcode.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/c22bed0de0.js" crossorigin="anonymous"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AUn8UV5sTafGqBu9Y6BAB9DKZlgUDgy534_sHcoYwifxkvIZsbpNfIjP0zU3H8u8XJEWTiw8UuzatRZC"></script>

</head>

<body style="background-color: rgb(18,17,13);">
<!-- header -->
<div th:replace="~{swappa/assests/html/layout/_layout::header}"></div>
<!-- main -->
<div class="container-fluid" style="height: 81vh; background-color: white;">
    <div class="row">
        <div class="col-xl-3 col-md-12 mt-1 p-0 border border-0">
            <div class="card mx-lg-3">
                <div class="card-header bg-black text-center">
                    <a class="text-white bg-gradient-primary">
                        <h5 class="m-0">
                            <strong th:object="${userM}" class="d-flex justify-content-center align-items-center gap-2">
                                <i class="fs-4 fa-solid fa-circle-user text-white" aria-hidden="true"></i> <span
                                    class="d-inline-block text-truncate" style="max-width: 110px;"
                                    th:text="*{username}"></span>
                            </strong>
                        </h5>
                    </a>
                </div>
                <div class="card-body bg-body-secondary p-1">
                    <div class="align-items-start">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <button class="nav-link mt-1 text-black active" id="v-pills-home-tab"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab"
                                    aria-controls="v-pills-home" aria-selected="true">My profile
                            </button>
                            <button class="nav-link mt-1 text-black" id="v-pills-home-status"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-status" type="button" role="tab"
                                    aria-controls="v-pills-status" aria-selected="false">Order history
                            </button>
                            <button class="nav-link mt-1 text-black" id="v-pills-home-AllVoucher"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-AllVoucher" type="button" role="tab"
                                    aria-controls="v-pills-AllVoucher" aria-selected="false">Voucher
                            </button>
                            <button class="nav-link mt-1 text-black" id="v-pills-home-shop"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-shop" type="button" role="tab"
                                    aria-controls="v-pills-shop" aria-selected="false">Shop
                            </button>
                            <button class="nav-link mt-1 text-black" id="v-pills-home-favorite"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-favorite" type="button" role="tab"
                                    aria-controls="v-pills-favorite" aria-selected="false">Favorite
                            </button>
                            <a class="nav-link mt-1 text-black" href="#" onclick="logOut()">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-12 mt-1 p-0 border border-0">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab" tabindex="0">
                    <div class="card ">
                        <div class="card-body p-0 mx-3 pb-2">
                            <div class="container p-0" id="tableUserContainer">
                                <div class="header mt-1 mb-1">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item bg-body-secondary rounded-3">
                                            <div class="row">
                                                <div class="col-6">
                                                    <h3>My profile</h3>
                                                    <span>Manage profile information for account security</span>
                                                </div>
                                                <div class="col-6 ">
                                                    <img id="qrImg" class="float-end"
                                                         style="width: 100px; height: auto">
                                                    <!--M2M-026 TanLoc Begin-->
                                                    <script>
                                                        function generateQRCode() {
                                                            var username = $('#staticName').val();
                                                            var name = $('#inputName').val();
                                                            var email = $('#staticEmail').val();
                                                            var phoneNumber = $('#staticPhone').val();

                                                            var userData = "Tên: " + encodeURIComponent(name).replace(/%20/g, " ") + "%0A" +
                                                                "Số điện thoại: " + encodeURIComponent(phoneNumber) + "%0A" +
                                                                "Email: " + encodeURIComponent(email) + "%0A" +
                                                                "Username: " + encodeURIComponent(username);
                                                            var qrUrl = "https://quickchart.io/qr?text=" + userData;
                                                            $("#qrImg").attr("src", qrUrl);
                                                        }

                                                        $(document).ready(function () {
                                                            $("#generateQRBtn").click(function (e) {
                                                                e.preventDefault();
                                                                $("#captchaContainer").show(); // Hiển thị reCAPTCHA khi nhấp vào nút "Generate QR Code"
                                                            });

                                                        });

                                                        function xuLyCaptchaThanhCong() {
                                                            generateQRCode();
                                                            $("#captchaContainer").hide();
                                                            $("#generateQRBtn").hide();
                                                            Swal.fire({
                                                                title: 'Thành công!',
                                                                text: 'Mã QR của bạn đã được tạo.',
                                                                icon: 'success',
                                                                confirmButtonText: 'OK'
                                                            });
                                                        }
                                                    </script>
                                                    <!--M2M-026 TanLoc End -->
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row perfect-container" th:object="${userM}">
                                    <div class="col-8 ps-3">
                                        <div class="container">
                                            <div class="mb-3 row">
                                                <label for="staticName"
                                                       class="col-xl-2 col-lg-12 col-form-label">Username</label>
                                                <div class="col-xl-10 col-lg-12">
                                                    <input type="text" readonly class="form-control-plaintext"
                                                           id="staticName" th:value="*{username}" disabled>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputName"
                                                       class="col-xl-2 col-lg-12 col-form-label">Name</label>
                                                <div class="col-xl-10 col-lg-12">
                                                    <input type="name" class="form-control" id="inputName"
                                                           th:value="*{fullname}">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="staticEmail"
                                                       class="col-xl-2 col-lg-12 col-form-label">Email</label>
                                                <div class="col-xl-10 col-lg-12">
                                                    <input type="mail" class="form-control" id="staticEmail"
                                                           th:value="*{email}" disabled>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="staticPhone"
                                                       class="col-xl-2 col-lg-12 col-form-label">Phone</label>
                                                <div class="col-xl-10 col-lg-12">
                                                    <input type="number" class="form-control" id="staticPhone"
                                                           th:value="*{sdt}" pattern="[0-9]{10}"
                                                           title="Phone number must have 10 digits">
                                                    <span id="phoneError" class="text-danger"></span>
                                                </div>

                                            </div>
                                            <div class=" my-3 row d-flex" style="margin-right: 10px;">
                                                <span id="generateQRBtn" class="col-3 me-3">Generate QR Code</span>
                                                <div id="captchaContainer" style="display: none;" class="col-9">
                                                    <div class="g-recaptcha"
                                                         data-sitekey="6LdatOcpAAAAANmoLRJRie7PC1wg-H7FJ5NRb-cd"
                                                         data-callback="xuLyCaptchaThanhCong"></div>
                                                </div>
                                            </div>
                                            <p id="iduser" th:text="${userM.getId()}" class="d-none"></p>
                                            <div class="mb-3 row alert alert-success" id="updateSuccess"></div>
                                            <div class="mb-3 row my-3 alert alert-danger" id="updateError"></div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <button type="button" id="submitBtn" class="btn btn-brown px-5">
                                                Submit changes
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-4 p-0 text-center">
                                        <div class="d-flex justify-content-center">
                                            <img th:src="@{'/assests/imagesUser/' + ${userM.avatar}}"
                                                 class="avatar me-3 border-radius-lg"
                                                 id="previewImage" alt="Ảnh đã chọn">
                                        </div>
                                        <div class="text-center my-3">
                                            <input type="file" class="form-control" id="fileInput" accept="image/*">
                                            <label class="custom-file-label" for="fileInput">Select photos from
                                                local</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="v-pills-status" role="tabpanel"
                     aria-labelledby="v-pills-home-status" tabindex="0">
                    <div class="card">
                        <div class="card-body p-0 mx-3 pb-2">
                            <div class="table-responsive p-0">
                                <!-- Bắt đầu trạng thái đơn hàng-->
                                <div class="header mt-1 mb-1">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item bg-body-secondary rounded-3">
                                            <h3>Order status</h3>
                                            <span>Manage customer orders</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="table-responsive p-0 perfect-container">
                                    <table class="table align-items-center mb-0">
                                        <thead>
                                        <tr class="text-center">
                                            <th scope="col">Status</th>
                                            <th scope="col">Date ordered</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Shipping address</th>
                                            <th scope="col">Payment method</th>
                                            <th scope="col">Total</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="TableStatusUser">
                                        </tbody>
                                    </table>
                                </div>

                                <!-- Kết thúc trạng thái đơn hàng-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="v-pills-AllVoucher" role="tabpanel"
                     aria-labelledby="v-pills-home-status" tabindex="0">
                    <div class="card ">
                        <div class="card-body p-0 mx-3 pb-2" style="max-height: 600px">
                            <!--viết body vào đây Cao Trọng Lễ-->
                            <div class="table-responsive p-0" id="TableAllVoucher" style="max-height: 600px">
                                <div class="header mt-1 mb-1">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item bg-body-secondary rounded-3">
                                            <h3 class="m-0">Voucher</h3>
                                            <!--                                            <span>Manage profile information for account security</span>-->
                                        </li>
                                    </ul>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div id="voucherList" class="row">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="v-pills-shop" role="tabpanel"
                     aria-labelledby="v-pills-home-status" tabindex="0">
                    <div class="card" id="shopContainer">


                    </div>
                </div>
                <div class="tab-pane" id="v-pills-favorite" role="tabpanel"
                     aria-labelledby="v-pills-home-status" tabindex="0">
                    <div class="card ">
                        <div class="card-body p-0 mx-3 pb-2">
                            <div class="table-responsive p-0">
                                <div class="header mt-1 mb-1">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item bg-body-secondary rounded-3">
                                            <h3 class="m-0">Favorite</h3>
                                            <span>My favorite products</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="container-fluid perfect-container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-10">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr class="text-center">
                                                    <th scope="col">#</th>
                                                    <th scope="col">Product Name</th>
                                                    <th scope="col">Image</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody id="favoriteList">
                                                <!-- Dữ liệu sản phẩm yêu thích sẽ được thêm vào đây -->
                                                </tbody>
                                            </table>
                                            <div id="noFavoriteMessage" class="text-center mt-3" style="display: none;">
                                                <p>No favorite products found.</p>
                                            </div>
                                            <nav aria-label="Page navigation example">
                                                <ul id="pagination" class="pagination justify-content-end">
                                                    <!-- Các thẻ li sẽ được tạo bởi JavaScript -->
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<footer class="fixed-bottom" th:insert="~{swappa/assests/html/layout/_layout::footer}"></footer>
<!-- Internal Scripts -->
<script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assests/js/searchRcmd.js}"></script>
<script th:src="@{/assests/js/paypalPayment.js}"></script>
<script src="/assests/js/SignUpShop.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#updateError').hide();
        $('#updateSuccess').hide();
        fetchVouchers();
        fetchOrders();

        $('#submitBtn').click(function () {
            updateUser();
            generateQRCode();
        });

        $('#fileInput').change(handleFileInputChange);
        $('#navbar_search_input').keydown(function (e) {
            if (e.which === 13) {
                searchProducts();
            }
        });
        getSoLuongGioHang();

        //dung co xoa cai nay vi khong tim duoc cach nao load va xoa thong bao
        var id;
        if (sessionStorage.getItem("idnguoidung") == ""){

        }else {
            $.ajax({
                url: '/finduseridwitchNotification?id='+sessionStorage.getItem("idnguoidung"),
                type: 'GET',
                contentType: 'application/json',
                success: function (data) {
                    soluong = data.length;
                    $('#soluongthongbao').text(soluong)
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error:', errorThrown);
                }
            });
        }

        $('#btnthongobao').click(function () {
            id = (sessionStorage.getItem("idnguoidung") == "" ? "false" : sessionStorage.getItem("idnguoidung"));
            if (id == "false"){
                Swal.fire({
                    title: 'Notifications from the system',
                    text: 'You are not logged in, please log in.',
                    icon: 'warning', // Có thể thay đổi icon thành 'error', 'warning', 'info', hoặc 'question'
                    confirmButtonText: 'Confirm',
                    allowOutsideClick: false
                }).then((result) => {
                    if (result){
                        window.location.href = "/loginacount";
                    }
                })
            }else {
                $("#notification-dropdown").toggleClass("d-none");
                $('#thogbao').empty();
                $.ajax({
                    url: '/finduseridwitchNotification?id='+sessionStorage.getItem("idnguoidung"),
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (data) {
                        var soluong = data.length;
                        if (soluong == 0){
                            $('#thogbao').append(`
                            <div class="text-dark fw-bolder" style="color: #edd678">No new announcements.</div>`);
                        }
                        $('#soluongthongbao').text(soluong)
                        // Hiển thị dữ liệu trong bảng
                        data.forEach(function (order) {
                            $('#thogbao').append(`
                        <div class="text-dark fw-bolder" style="text-decoration: underline; cursor : pointer">You have a new voucher in your account.</div>
                        `);
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error:', errorThrown);
                    }
                });
            }
        });

        $('#xoathongbao').click(function () {
            $.ajax({
                url: '/deleteNotification?id='+id,
                type: 'GET',
                contentType: 'application/json',
                success: function (data) {
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error:', errorThrown);
                }
            });
        })
    });

    let nameImg, path;

    function getSoLuongGioHang(){
        var tongsp = document.getElementById("tongSoLuongSP");
        var tongSoLuong = 0;
        if (localStorage.getItem(sessionStorage.getItem("tendn"))) {
            var objarray = JSON.parse(localStorage.getItem(sessionStorage.getItem("tendn")));
            for (var int = 0; int < objarray.length; int++) {
                tongSoLuong = objarray.length;
            }
        }else {
            tongsp.textContent = tongSoLuong;
        }
        tongsp.textContent = tongSoLuong;
    }

    function fetchVouchers() {
        $.ajax({
            url: '/api-public/vouchers/getVouchersByEmail',
            type: 'GET',
            success: function (response) {
                let voucherListHTML = '';
                response.forEach(function (voucher) {
                    voucherListHTML += `
                        <div class="col-xl-6">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-4">
                                        <img src="/assests/images/logoVoucher.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-8">
                                        <div class="card-body py-0 mt-3">
                                            <h5 class="card-title">${voucher.voucherName}</h5>
                                            <p class="card-text">Discount: ${voucher.reduce}</p>
                                            <p class="card-text">Start Date: ${voucher.startDay}</p>
                                            <p class="card-text">End Date: ${voucher.endDay}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                });
                $('#voucherList').html(voucherListHTML);
            },
            error: function (xhr, status, error) {
                console.error('Error calling API:', error);
            }
        });
    }

    function fetchOrders() {
        $.ajax({
            url: '/api-product/getOrdersByUser',
            type: 'GET',
            success: function (data) {
                data.forEach(function (order) {
                    order.totalAmount = order.totalAmount.toFixed(2);
                    const formattedDate = new Date(order.orderDate).toLocaleDateString();
                    $('#TableStatusUser').append(`
                        <tr class="align-middle">
                            <td class="text-center">
                                <div class="${order.orderStatus.includes('Need') ? 'badge text-bg-warning' : 'badge text-bg-primary'}">${order.orderStatus}</div>
                            </td>
                            <td class="text-center">${formattedDate}</td>
                            <td class="text-center">${order.phoneNumber}</td>
                            <td class="text-center">
                                <button class="btn btn-primary" onclick="showShippingAddressDetail('${order.deliveryAddress}')">
                                    Show detail
                                </button>
                            </td>
                            <td class="text-center">
                                <div class="badge text-bg-${order.paymentMethod.toLowerCase() === 'paypal' ? 'primary' : 'secondary'}">
                                    ${order.paymentMethod}
                                </div>
                            </td>
                            <td class="text-center">$${order.totalAmount}</td>
                            ${htmlForButton(order)}
                        </tr>`);
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Error:', errorThrown);
            }
        });
    }

    function showShippingAddressDetail(deliveryAddress) {
        Swal.fire({
            title: 'Shipping Address',
            text: deliveryAddress
        });
    }

    function htmlForButton(order) {
        return (order.paymentMethod === 'Cod' || order.orderStatus === 'Delivering')
            ? ` <td class="text-center">
                    <button class="btn btn-warning" onclick="receivedOrder(${order.orderId})">Received</button>
                </td>`
            : (order.paymentMethod === 'Received')
            ? ` <td class="text-center">
                    <button class="btn btn-success" disabled>Finished</button>
                </td>`
            :` <td class="text-center">
                    <button class="btn btn-warning" ${order.orderStatus === 'Need approved' ? 'disabled' : ''} onclick="loadSwalForPaypalContainer(${order.orderId}, ${order.totalAmount})">
                        Pay now
                    </button>
                </td>`;
    }

    function receivedOrder(orderId) {
        Swal.fire({
            title: 'Confirm Order Received',
            text: 'Are you sure you want to confirm that the order has been received?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, confirm!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                let payload = {
                    idProduct: orderId,
                    OrderStatus: 'Received'
                }
                axios.get("/api-product/updateOrderUser", payload)
                    .then(response => {
                        Swal.fire('Confirmed!', 'The order has been marked as received.', 'success')
                            .then(result => {
                                location.reload();
                            });
                    })
                    .catch(error => {
                        console.error(error);
                    })
            }
        });
    }

    function updateUser() {
        const username = $('#staticName').val();
        const fullname = $('#inputName').val();
        const email = $('#staticEmail').val();
        const sdt = $('#staticPhone').val();
        const avatar = nameImg && path ? `${nameImg},${path}` : null;

        if (sdt.length !== 10) {
            $('#phoneError').text("*Phone number must have 10 digits");
            return;
        } else {
            $('#phoneError').text("");
        }

        const userData = {username, email, fullname, sdt, avatar};

        $.ajax({
            url: '/api-public/users/updateUserInfo',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(userData),
            success: function (response) {
                if (response === 1) {
                    $('#updateError').hide();
                    $('#updateSuccess').text('Update successful').show();
                } else {
                    $('#updateSuccess').hide();
                    $('#updateError').text('Update failed').show();
                }
            },
            error: function (xhr, status, error) {
                console.error("Error calling API:", error);
            }
        });
    }

    function handleFileInputChange() {
        const file = this.files[0];
        nameImg = file.name;
        if (file) {
            const reader = new FileReader();
            reader.onload = function (event) {
                path = event.target.result;
                $('#previewImage').attr('src', event.target.result).show();
            }
            reader.readAsDataURL(file);
        }
    }

    function searchProducts() {
        const query = $('#navbar_search_input').val();
        if (query.trim() !== '') {
            window.location.href = `/search?query=${query}`;
        }
    }

    function logOut() {
        // Display confirmation dialog
        Swal.fire({
            title: 'Logout',
            text: 'Are you sure you want to logout?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, logout',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                sessionStorage.setItem("tendn","")
                window.location.href = '/account/logout';
            }
        });
    }

</script>
<script src="/assests/js/FavoriteProduct.js"></script>
</body>
</html>