<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assests/srcPic/x.png" type="image/x-icon">
    <title>User Page</title>
    <link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assests/css/style.css">
    <style>
        #orderstatus {
            max-height: 640px; /* Giới hạn chiều cao tối đa của bảng */
            overflow-y: auto; /* Hiển thị thanh cuộn dọc */
        }

        #orderstatus tbody {
            overflow-y: auto; /* Hiển thị thanh cuộn dọc */
        }

        #orderstatus tbody tr {
            width: 100%; /* Đặt chiều rộng của từng dòng bằng 100% */
        }

        #orderstatus thead th:nth-child(1) {
            width: 5%;
        }

        #orderstatus thead th:nth-child(2) {
            width: 15%;
        }

        #orderstatus thead th:nth-child(3) {
            width: 8%;
        }

        #orderstatus thead th:nth-child(4) {
            width: 35%;
        }

        #orderstatus thead th:nth-child(5) {
            width: 8%;
        }

        #orderstatus thead th:nth-child(6) {
            width: 5%;
        }

        #orderstatus thead th:nth-child(7) {
            width: 12%;
        }

        #orderstatus thead th:nth-child(8) {
            width: 20%;
        }

        #fileInput {
            display: none;
        }

        .custom-file-label {
            cursor: pointer;
            padding: 10px 20px;
            background-color: #909498;
            color: #fff;
        }

        .custom-file-label:hover {
            background-color: #9a9fa4;
        }

        #previewImage {
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-top: 20px;
        }

        #fileInput {
            border: 2px solid #909498;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        }

        #fileInput:hover {
            border-color: #9a9fa4;
        }

        #fileInput:focus {
            border-color: #9a9fa4;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        }

        .custom-file-label {
            cursor: pointer;
            padding: 10px 20px;
            background-color: #909498;
            color: #fff;
            border: 2px solid #909498;
            border-radius: 5px;
        }

        .custom-file-label:hover {
            background-color: #9a9fa4;
        }

        #previewImage {
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-top: 20px;
            border: 2px solid #909498; /* Màu và độ dày của đường viền */
            border-radius: 5px; /* Độ cong của các góc */
        }

        #previewImage {
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-top: 20px;
            border: 2px solid #909498; /* Màu và độ dày của đường viền */
            border-radius: 5px; /* Độ cong của các góc */
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); /* Hiệu ứng đổ bóng */
        }

        #previewImage:hover {
            border-color: #9a9fa4; /* Thay đổi màu sắc của đường viền khi di chuột qua */
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7); /* Hiệu ứng đổ bóng khi di chuột qua */
        }

        .img-300 {
            width: 300px;
            height: auto;
            margin: auto;
        }

        .dropdown-item:hover {
            background-color: #b7b6b6; /* Màu nền khi hover */
            color: white;
            cursor: pointer;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcode-js-package@1.0.4/qrcode.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let currentUrl = window.location.search.substring(1);
            if (
                currentUrl.includes('tab')
                && currentUrl.includes('orderId')
                && currentUrl.includes('status')
            ) {
                $('#v-pills-home-status').addClass('active').attr('aria-selected', 'true');
                var status = currentUrl.substring(currentUrl.lastIndexOf("=") + 1);
                Swal.fire({
                    title: 'System Annoucement',
                    text: 'Your order has just been paid.' +
                        'Thanks for using our services!!',
                    icon: 'info', // Có thể thay đổi icon thành 'error', 'warning', 'info', hoặc 'question'
                    confirmButtonText: 'Confirm',
                    allowOutsideClick: true
                });
            }
            // Sử dụng Ajax để gọi API và lấy danh sách voucher
            $.ajax({
                url: '/api-public/vouchers/getVouchersByEmail', // URL của API endpoint
                type: 'GET',
                success: function (response) {
                    // Xử lý dữ liệu khi API trả về thành công
                    var vouchers = response;
                    var voucherListHTML = '';

                    // Duyệt qua danh sách voucher và tạo HTML tương ứng
                    vouchers.forEach(function (voucher) {
                        voucherListHTML +=
                            `    <div class="col-xl-6">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-4">
                                            <img src="/assests/images/logoVoucher.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-8">
                                            <div class="card-body py-0 mt-3">
                                                <h5 class="card-title">${voucher.voucherName}</h5>
                                                <p class="card-text">Giảm giá: ${voucher.reduce}</p>
                                                <p class="card-text">Ngày bắt đầu: ${voucher.startDay}</p>
                                                <p class="card-text">Ngày kết thúc: ${voucher.endDay}</p>
                                                <!-- Thêm các thông tin khác cần hiển thị -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>`;
                    });
                    // Đưa HTML vào div chứa danh sách voucher
                    $('#voucherList').html(voucherListHTML);
                },
                error: function (xhr, status, error) {
                    // Xử lý khi gọi API gặp lỗi
                    console.error('Error calling API:', error);
                }
            });
            $('#updateSuccess, #updateError').hide();

            function updateUser() {
                var username = $('#staticName').val();
                var fullname = $('#inputName').val();
                var email = $('#staticEmail').val();
                var sdt = $('#staticPhone').val();
                if (sdt.length !== 10) {
                    $('#phoneError').text("*Phone number must have 10 digits");
                    return;
                } else {
                    $('#phoneError').text("");
                }
                var avatar = null;
                if (nameImg && path) {
                    avatar = nameImg + "," + path; // Nếu đã chọn ảnh mới, sử dụng giá trị mới cho avatar
                }
                console.log(avatar);
                let userData = {
                    username: username,
                    email: email,
                    fullname: fullname,
                    sdt: sdt,
                    avatar: avatar
                };
                $.ajax({
                    url: '/api-public/users/updateUserInfo',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(userData),
                    success: function (response) {
                        console.log(response === 1 ? 'Cập nhật thành công' : 'Cập nhật thất bại');
                        if (response === 1) {
                            $('#updateError').hide();
                            $('#updateSuccess').text('Update successful').show();
                        } else {
                            $('#updateSuccess').hide();
                            $('#updateError').text('Update failed').show();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Đã xảy ra lỗi khi gọi API: " + error);
                    }
                });
            }

            $('#submitBtn').click(function () {
                updateUser();
                generateQRCode();
            });
            // Gọi API để lấy danh sách đơn hàng dựa trên email của người dùng
            $.ajax({
                url: '/api-product/orders',
                type: 'GET',
                success: function (data) {
                    // Hiển thị dữ liệu trong bảng
                    data.forEach(function (order) {
                        var orderDateFormatted = new Date(order.orderDate);
                        var formattedDate = `${orderDateFormatted.getDate()}/${orderDateFormatted.getMonth() + 1}/${orderDateFormatted.getFullYear()}`;
                        $('#TableStatusUser').append(`
                        <tr class="align-middle">
<!--                        <td class="text-center">${order.orderId}</td>-->
                        <td class="text-center">${order.username}</td>
                        <td class="text-center">${formattedDate}</td>
                        <td class="text-center">${order.phoneNumber}</td>
                        <td class="text-center">${order.deliveryAddress}</td>
                        <td class="text-center">
                            <div class="badge text-bg-secondary">${order.paymentMethod}</div>
                        </td>
                        <td class="text-center">$${order.totalAmount}</td>
                        <td class="text-center">
                            <div class="${order.orderStatus == 'Approved' ? 'badge text-bg-success' : 'badge text-bg-warning'} ">${order.orderStatus}</div>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-success" ${
                            (() => {
                                switch (true) {
                                    case ((order.paymentMethod === 'Cod' && (order.orderStatus === 'Approved' || order.orderStatus === 'Need approved'))):
                                        return 'disabled';
                                    case ((order.paymentMethod === 'Paypal' || order.orderStatus === 'Need approved')):
                                        return 'disabled';
                                    case ((order.paymentMethod === 'Paypal' && order.orderStatus === 'Approved')):
                                        return "";
                                }
                            })()
                        }
                            onclick="payWithPaypal(${order.totalAmount}, ${order.orderId})">Pay with paypal</button>
                        </td>
                    </tr>

                `);
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error:', errorThrown);
                }
            });
            $('#xoathongbao').click(function () {
                var id = $('#iduser').text();
                xoathongbao(id);
            });

            var soluong = 0;

            var id = $('#iduser').text();
            $.ajax({
                url: '/finduseridwitchNotification?id=' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (data) {
                    soluong = data.length;
                    $('#soluongthongbao').text(soluong)
                    // Hiển thị dữ liệu trong bảng
                    data.forEach(function (order) {
                        $('#thongbao').append(`
                        <div class="dropdown-item">
                              <div>Có mã giảm giá mới!</div>
                        </div>
                `);
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error:', errorThrown);
                }
            });

            function xoathongbao(id) {
                $.ajax({
                    url: '/deleteNotification?id=' + id,
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (data) {
                        console.log("xóa thành công")
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error:', errorThrown);
                    }
                });
            }
        })
    </script>
</head>

<body style="background-color: rgb(18,17,13);">
<!-- header -->
<div th:replace="~{swappa/assests/html/layout/_layout::header}"></div>
<!-- main -->
<div class="container-fluid bg-body-secondary" style="height: 800px;">
    <div class="row">
        <div class="col-xl-3 col-lg-12 mt-1 p-0 border border-0">
            <div class="card">
                <div class="card-header bg-black text-center">
                    <a class="text-white bg-gradient-primary">
                        <h5 class="m-0">
                            <strong th:object="${userM}">
                                <i class="fs-4 fa-solid fa-circle-user text-white" aria-hidden="true"></i> <span
                                    class="d-inline-block text-truncate" style="max-width: 110px;"
                                    th:text="*{username}"></span>
                            </strong>
                        </h5>
                    </a>
                </div>
                <div class="card-body p-1">
                    <div class="align-items-start">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <button class="nav-link mt-1 text-black active" id="v-pills-home-tab"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab"
                                    aria-controls="v-pills-home" aria-selected="true">My profile
                            </button>
                            <button class="nav-link mt-1 text-black" id="v-pills-home-status"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-status" type="button" role="tab"
                                    aria-controls="v-pills-status" aria-selected="false">Order status
                            </button>
                            <button class="nav-link mt-1 text-black" id="v-pills-home-AllVoucher"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-AllVoucher" type="button" role="tab"
                                    aria-controls="v-pills-AllVoucher" aria-selected="false">Sale
                            </button>
                            <a class="nav-link mt-1 text-black" href="#" onclick="logout()">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-12 mt-1 p-0 border border-0">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab" tabindex="0">
                    <div class="card ">
                        <div class="card-body p-0 mx-3 pb-2">
                            <div class="table-responsive p-0" id="tableUserContainer">
                                <div class="header mt-1 mb-1">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item bg-body-secondary rounded-3">
                                            <div class="row">
                                                <div class="col-6">
                                                    <h3>My profile</h3>
                                                    <span>Manage profile information for account security</span>
                                                </div>
                                                <div class="col-6 ">
                                                    <img id="qrImg" class="float-end"
                                                         style="width: 100px; height: auto">
                                                    <!--M2M-026 TanLoc Begin-->
                                                    <script>
                                                        function generateQRCode() {
                                                            var username = $('#staticName').val();
                                                            var name = $('#inputName').val();
                                                            var email = $('#staticEmail').val();
                                                            var phoneNumber = $('#staticPhone').val();

                                                            var userData = "Tên: " + encodeURIComponent(name).replace(/%20/g, " ") + "%0A" +
                                                                "Số điện thoại: " + encodeURIComponent(phoneNumber) + "%0A" +
                                                                "Email: " + encodeURIComponent(email) + "%0A" +
                                                                "Username: " + encodeURIComponent(username);
                                                            var qrUrl = "https://quickchart.io/qr?text=" + userData;
                                                            $("#qrImg").attr("src", qrUrl);
                                                        }

                                                        $(document).ready(function () {
                                                            generateQRCode();
                                                        });
                                                    </script>
                                                    <!--M2M-026 TanLoc End -->
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row" th:object="${userM}">
                                    <div class="col-8">
                                        <div class="container">
                                            <div class="mb-3 row">
                                                <label for="staticName"
                                                       class="col-xl-2 col-lg-12 col-form-label">UserName</label>
                                                <div class="col-xl-10 col-lg-12">
                                                    <input type="text" readonly class="form-control-plaintext"
                                                           id="staticName" th:value="*{username}" disabled>

                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputName"
                                                       class="col-xl-2 col-lg-12 col-form-label">Name</label>
                                                <div class="col-xl-10 col-lg-12">
                                                    <input type="name" class="form-control" id="inputName"
                                                           th:value="*{fullname}">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="staticEmail"
                                                       class="col-xl-2 col-lg-12 col-form-label">Email</label>
                                                <div class="col-xl-10 col-lg-12">
                                                    <input type="mail" class="form-control" id="staticEmail"
                                                           th:value="*{email}" disabled>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="staticPhone"
                                                       class="col-xl-2 col-lg-12 col-form-label">Phone</label>
                                                <div class="col-xl-10 col-lg-12">
                                                    <input type="number" class="form-control" id="staticPhone"
                                                           th:value="*{sdt}" pattern="[0-9]{10}"
                                                           title="Phone number must have 10 digits">
                                                    <span id="phoneError" class="text-danger"></span>
                                                </div>

                                            </div>
                                            <p id="iduser" th:text="${userM.getId()}"
                                               style="position: absolute; top: 95px; left: 11px; color: white"></p>
                                            <div class="mb-3 row alert alert-success" id="updateSuccess"></div>
                                            <div class="mb-3 row my-3 alert alert-danger" id="updateError"></div>
                                        </div>
                                    </div>
                                    <div class="col-4 text-center">
                                        <div class="d-flex justify-content-center">
                                            <img th:src="@{'/assests/imagesUser/' + ${userM.avatar}}"
                                                 class="avatar me-3 border-radius-lg"
                                                 id="previewImage" alt="Ảnh đã chọn">
                                        </div>

                                        <div class="text-center my-3" style="margin-right: 10px;">
                                            <input type="file" class="form-control" id="fileInput" accept="image/*">
                                            <label class="custom-file-label" for="fileInput">Select photos from
                                                local</label>
                                        </div>

                                    </div>

                                    <button type="button" id="submitBtn" class=" col-5 btn btn-secondary ms-5 mb-5">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="v-pills-status" role="tabpanel"
                     aria-labelledby="v-pills-home-status" tabindex="0">
                    <div class="card">
                        <div class="card-body p-0 mx-3 pb-2">
                            <div class="table-responsive p-0">
                                <!-- Bắt đầu trạng thái đơn hàng-->
                                <div class="header mt-1 mb-1">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item bg-body-secondary rounded-3">
                                            <h3>Order status</h3>
                                            <span>Manage customer orders</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="table-responsive p-0" id=orderstatus>
                                    <table class="table align-items-center mb-0">
                                        <thead>
                                        <tr class="text-center">
                                            <!--                                            <th scope="col" >Order ID</th>-->
                                            <th scope="col">Customer</th>
                                            <th scope="col">Date created</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Shipping address</th>
                                            <th scope="col">Payment method</th>
                                            <th scope="col">Total amount</th>
                                            <th scope="col">Order status</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="TableStatusUser">

                                        </tbody>
                                    </table>
                                </div>

                                <!-- Kết thúc trạng thái đơn hàng-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="v-pills-AllVoucher" role="tabpanel"
                     aria-labelledby="v-pills-home-status" tabindex="0">
                    <div class="card ">

                        <div class="card-body p-0 mx-3 pb-2">
                            <!--viết body vào đây Cao Trọng Lễ-->
                            <div class="table-responsive p-0" id="TableAllVoucher">
                                <div class="header mt-1 mb-1">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item bg-body-secondary rounded-3">
                                            <h3 class="m-0">Sale</h3>
                                            <!--                                            <span>Manage profile information for account security</span>-->
                                        </li>
                                    </ul>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div id="voucherList" class="p-0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<footer th:replace="~{swappa/assests/html/layout/_layout::footer}"></footer>

<script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/c22bed0de0.js" crossorigin="anonymous"></script>
<script>
    var path;
    var nameImg;
    document.getElementById('fileInput').addEventListener('change', function () {
        var file = this.files[0];
        nameImg = file.name;
        if (file) {
            var reader = new FileReader();
            reader.onload = function (event) {
                path = event.target.result;
                document.getElementById('previewImage').setAttribute('src', event.target.result);
                document.getElementById('previewImage').style.display = 'block';
            }
            reader.readAsDataURL(file);
        }
    });
</script>
</body>
</html>