.max-width-col {
    max-width: 128px;
}

.canvas-container {
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100%;*/
}

canvas {
    /*max-width: 80% !important;*/
    /*max-height: 50% !important;*/
}

#fileInput {
    display: none;
}

.custom-file-label {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #909498;
    color: #fff;
}

.custom-file-label:hover {
    background-color: #9a9fa4;
}

#previewImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
}

.avatar {
    width: 100%;
    /* Đảm bảo ảnh chiếm toàn bộ chiều rộng của ô chứa */
    height: auto;
    /* Đảm bảo tỉ lệ khung hình được bảo toàn */
    max-width: 150px;
    /* Kích thước tối đa của ảnh */
    max-height: 150px;
    /* Kích thước tối đa của ảnh */
}

/* Tùy chỉnh các thuộc tính */
.custom-bg-color {
    background-color: #f0f0f0;
    /* Màu nền */
}

.custom-border {
    border: 1px solid #ccc;
    /* Viền */
}

.custom-shadow {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* Hiệu ứng bóng */
}

/* Đảm bảo các ô chiếm không gian chính xác */
.custom-col {
    margin: 10px;
    padding: 50px;
    /* Khoảng cách bên trong ô */
}
.perfect-container {
    max-height: 68vh;
    overflow-x: hidden;
    overflow-y: auto;
}